<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Cuerpos legales" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<!--preloader-->
<div id="preloader" style="opacity: 0px !important;background-color: #000 !important;visibility: hidden;">
    <div id="status">
      <div class="spinner-border text-primary avatar-sm" role="status">
          <span class="visually-hidden">Cargando...</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Crear Cuerpo Legal</h4>
            </div><!-- end card header -->
            <div class="card-body form-steps">
              <!--<div class="text-center pt-3 pb-4 mb-1">
                      <h5>Signup Your Account</h5>
              </div>-->
              <aw-wizard [navBarLayout]="'large-empty-symbols'" class="nav nav-pills progress-bar-tab custom-nav">
                <aw-wizard-step>
                    <ng-template awWizardStepSymbol>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link rounded-pill active" data-progressbar="custom-progress-bar" id="pills-gen-info-tab" data-bs-toggle="pill" data-bs-target="#pills-gen-info" type="button" role="tab" aria-controls="pills-gen-info" aria-selected="true">1</button>
                      </li>
                    </ng-template>
                    <div>
                      <div class="mb-4">
                          <div>
                              <h5 class="mb-1">Información General del Cuerpo Legal</h5>
                              <p class="text-muted">Ingrese la información básica del Cuerpo Legal</p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="mb-3">
                                  <label class="form-label" for="gen-info-email-input">Título</label>
                                  <input type="text" class="form-control" id="gen-info-email-input" placeholder="Decreto ...">
                              </div>
                          </div>
                          <div class="col-lg-12">
                              <div class="mb-3">
                                  <label class="form-label" for="gen-info-username-input">Sub Título</label>
                                  <input type="text" class="form-control" id="gen-info-username-input" placeholder="Aprueba uso de ...">
                              </div>
                          </div>
                          <div class="col-lg-12">
                              <div class="mb-3">
                                  <label class="form-label" for="gen-info-username-input">Ministerio / Área legal</label>
                                  <input type="text" class="form-control" id="gen-info-username-input" placeholder="Ministerio de medio ambiente">
                              </div>
                          </div>
                      </div>
                      <!--<div class="mb-3">
                          <label class="form-label" for="gen-info-password-input">Password</label>
                          <input type="password" class="form-control" id="gen-info-password-input" placeholder="Enter Password">
                      </div>-->
                    </div>
                    <!-- wizard-tab -->
                    <div class="d-flex align-items-start gap-3 mt-4">
                      <button type="button" class="btn btn-success btn-label right ms-auto nexttab nexttab" data-nexttab="pills-info-desc-tab" awNextStep><i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>Crear Obligaciones</button>
                    </div>
                </aw-wizard-step>
  
                <aw-wizard-step>
                    <ng-template awWizardStepSymbol>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link rounded-pill" data-progressbar="custom-progress-bar" id="pills-info-desc-tab" data-bs-toggle="pill" data-bs-target="#pills-info-desc" type="button" role="tab" aria-controls="pills-info-desc" aria-selected="false">2</button>
                      </li>
                    </ng-template>
                    
                    <ng-container *ngIf="!addArticle && !addSubArticle">
                    <div>
                      <div>
                      <div class="row g-4 mb-4">
                        <div class="col-sm">
                            <h5 class="mb-1">Crear Obligaciones</h5>
                            <p class="text-muted">Crea cada una de las obligaciones de su Cuerpo legal</p>
                        </div>
                        <div class="col-sm-auto">
                                <button type="button" class="btn btn-info btn-label waves-effect right waves-light" (click)="showAddArticle()">Agregar<i class="ri-add-line label-icon align-middle fs-16"></i></button>
                        </div>
                       </div>

                       <div class="row g-4 mb-3">
                        <div class="card" style="padding: 0px;">
                            <div style="min-height: 350px !important;">
                                
                                <div class="card-body">
                                    <div style="text-align: center;width: 100%;font-size: 20px;" class="position-absolute top-50">
                                        Aún no ha creado obligaciones para este Cuerpo legal
                                    </div>

                                    
                            <div style="min-height: 350px !important;">
                                
                                <div class="d-md-flex justify-content-sm-end gap-2">
                                    <div class="search-box" style="width: 20%;">
                                        <input type="text" class="form-control bg-light border-light" placeholder="Buscar..." formControlName="busqueda" value="" [(ngModel)]="search" (keyup.enter)="busquedaNorma()">
                                        <i class="ri-search-2-line search-icon"></i>
                                    </div>
                                </div>
                                <!--<ng-container *ngFor="let ev of evaluations">-->
                                    <div class="list-group">
        
                                            <div class="team-list list-view-filter row" style="cursor:pointer;">
                                                <div class="col">
                                                    <div class="card team-box">
                                                        <div class="team-cover">
                                                            
                                                        </div>
                                                        <div class="card-header">
                                                            <h4 class="card-title mb-0">Artículo 1</h4>
                                                            <h5 class="text-muted">Cumplimiento ley 2342</h5>
                                                            <p>Aprueba ley de ...</p>
                                                        </div>
                                                        <div class="card-body p-4">                
                                                            <div class="row align-items-center team-row">
                                                                <div class="col team-settings">
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                                                <div class="col-lg-4 col"><!-- (click)="goEvaluation(ev.id)"-->
                                                                    <div class="row text-muted text-center">
                                                                        <div class="col-12 border-end border-end-dashed">
                                                                            <h5 class="mb-1" ><b>Jorge Torres</b></h5>
                                                                            <p class="text-muted mb-0">Creado por</p>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-lg-2 col">
                                                                    <div class="row text-muted text-center">
                                                                        <div class="col-12 border-end border-end-dashed">
                                                                            <h5 class="mb-1">15-03-2024</h5>
                                                                            <p class="text-muted mb-0">Fecha Creación</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
        
                                                                <div class="col-lg-2 col">
                                                                    <div class="row text-muted text-center">
                                                                        <div class="col-12 border-end border-end-dashed">
                                                                            <h5 class="mb-1">15-03-2024</h5>
                                                                            <p class="text-muted mb-0">Fecha Modificación</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
        
                                                                <div class="col-lg-2 col">
                                                                    <div class="row text-muted text-center">
                                                                        <div class="col-12 border-end border-end-dashed">
                                                                            <h5 class="mb-1">0</h5>
                                                                            <p class="text-muted mb-0">Sub-Artículos</p>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-lg-2 col text-center">
                                                                    

                                                                    <span class="btn btn-info" 
                                                                    [style.cursor]="'pointer'" (click)="showAddSubArticle()">
                                                                    <i class=" ri-git-merge-line"></i>
                                                                    </span>
                                                                    
                                                                    <span style="margin-left:10px;" class="btn btn-danger" 
                                                                    [style.cursor]="'pointer'" (click)="showAddSubArticle()">
                                                                    <i class="ri-delete-bin-5-line"></i>
                                                                    </span>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--end card-->
                                                </div>
                                            </div>
                                    </div>
                                <!--</ng-container>-->
                                </div>
                                </div>
                            </div>
                        </div>
                        </div>
                       
                      </div>
                    </div>
                    <div class="d-flex align-items-start gap-3 mt-4">
                      <button type="button" class="btn btn-link text-decoration-none btn-label previestab" data-previous="pills-gen-info-tab" awPreviousStep><i class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i> Información</button>
                      <button type="button" class="btn btn-success btn-label right ms-auto nexttab nexttab" data-nexttab="pills-success-tab" awNextStep><i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>Resumen</button>
                    </div>
                    </ng-container>
                    
                    <ng-container *ngIf="addArticle && !addSubArticle">
                        
                        <app-articles (backFunction)='hideAddArticle($event)'></app-articles>
                    </ng-container>
                    
                    <ng-container *ngIf="addSubArticle">
                        
                        <app-sub-articles (backFunction)='hideAddSubArticle($event)'></app-sub-articles>
                    </ng-container>
                </aw-wizard-step>
  
                <aw-wizard-step>
                    <ng-template awWizardStepSymbol>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link rounded-pill" data-progressbar="custom-progress-bar" id="pills-success-tab" data-bs-toggle="pill" data-bs-target="#pills-success" type="button" role="tab" aria-controls="pills-success" aria-selected="false">3</button>
                      </li>
                    </ng-template>
                    
                    <div>
                        <div>
                        <div class="mb-4">
                          <div>
                              <h5 class="mb-1">Resumen</h5>
                              <p class="text-muted">Resumen del Cuerpo legal que se incorporará a su base de datos</p>
                          </div>
                         </div>
  
                         <div class="row g-4 mb-3">
                          <div class="card" style="padding: 0px;">
                              <div style="min-height: 350px !important;">
                                  
                                  <div class="card-body">
                                    <div style="text-align: center;width: 100%;font-size: 20px;" class="position-absolute top-50">
                                        Aún no ha creado obligaciones para este Cuerpo legal
                                    </div>
                                  </div>
                              </div>
                          </div>
                          </div>
  
                         
                        </div>
                      </div>
                      <div class="d-flex align-items-start gap-3 mt-4">
                        <button type="button" class="btn btn-link text-decoration-none btn-label previestab" data-previous="pills-info-desc-tab" awPreviousStep><i class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i> Obligaciones</button>
                        <button type="button" class="btn btn-success btn-label right ms-auto nexttab nexttab" data-nexttab="pills-success-tab" awNextStep><i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>Guardar y Salir</button>
                    </div>
                </aw-wizard-step>
              </aw-wizard>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
  </div><!-- end row -->

<app-toastl aria-live="polite" aria-atomic="true"></app-toastl>