<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Plan de Trabajo" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<!--preloader-->
<div id="preloader" style="opacity: 0px !important;background-color: #000 !important;visibility: hidden;">
    <div id="status">
      <div class="spinner-border text-primary avatar-sm" role="status">
          <span class="visually-hidden">Cargando...</span>
      </div>
    </div>
</div>

<div class="row project-wrapper">
    <div class="col-xxl-12">
        
  <div class="row">
    <div class="col-xxl-12">
        
        <div class="card">
            <div class="card-header">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row g-4 mb-3">
                        <div class="col-sm">
                        <b>LISTADO DE PLANES DE TRABAJO</b>
                        </div>
                        <div class="col-sm-auto">
                            <!--<div>-->
                                <button type="button" class="btn btn-success waves-effect waves-light" data-bs-toggle="modal"
                                id="create-btn" data-bs-target="#showModal" (click)="openModal(content)"><i class="ri-add-line label-icon align-middle fs-16"></i></button>
                            <!--</div>  (click)="createEvaluation()"-->
                        </div>
                    </div>
        
                    <!--Planes de trabajo-->
                    <div class="row g-4 mb-3">
                        <div class="card">
                            <div *ngIf="!workPlan_group || workPlan_group.length < 1" style="min-height: 350px !important;">
                                
                                <div class="card-body">
                                <div style="text-align: center;width: 100%;font-size: 20px;" class="position-absolute top-50">
                                    Aún no tiene Planes de trabajo
                                </div>
                                </div>
                            </div>
        
                            <div *ngIf="workPlan_group && workPlan_group.length > 0" style="min-height: 350px !important;">
                                
                                <ng-container *ngFor="let w of workPlan_group">
                                <div class="card-header">
                                    <h4 style="color: #405189;">{{w.cuerpoLegal}}</h4>
                                    <p>{{w.articulo}}</p>
                                </div>
                                <div class="card-body">
                                <ng-container *ngFor="let data of w.planes">
                                    <div class="list-group" id="pl1_{{data.id}}">
        
                                            <div class="team-list list-view-filter row" style="cursor:pointer;">
                                                <div class="col">
                                                    <div class="card team-box">
                                                        <div class="team-cover">
                                                            
                                                        </div>
                                                        <div class="card-body p-4">                
                                                            <div class="row align-items-center team-row">
                                                                <div class="col team-settings">
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                                                <div class="col-lg-2 col" (click)="comenzar(data.id)">
                                                                    <div class="row text-muted text-left">
                                                                        <div class="col-12 border-end border-end-dashed">
                                                                            <h5 class="mb-1" style="color: #405189;"><b>{{data.id.toString().padStart(6,"PT-000")}}</b></h5>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                                                <div class="col-lg-2 col" (click)="comenzar(data.id)">
                                                                    <div class="row text-muted text-left">
                                                                        <div class="col-12 border-end border-end-dashed">
                                                                            <h5 class="mb-1" style="color: #405189;"><b>{{data.installationId > 0 ? data.installation_work_plan.nombre
                                                                                 : ''}}</b></h5>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-lg-2 col" (click)="comenzar(data.id)">
                                                                    <div class="row text-muted text-center">
                                                                        <div class="col-12 border-end border-end-dashed">
                                                                            <h5 class="mb-1" style="color: #405189;">{{ data.fecha_inicio | date: 'd/M/yyyy' }}</h5>
                                                                            <p class="text-muted mb-0">Inicio</p>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-lg-2 col" (click)="comenzar(data.id)">
                                                                    <div class="progress progress-xl">
                                                                        <div class="progress-bar" 
                                                                        [ngClass]="{'bg-danger': data.avance > 0 && data.avance < 25, 'bg-warning': data.avance > 25 && data.avance < 75, 'bg-success': data.avance > 75 }" role="progressbar" [style]="data.avance > 0 ? 'width:'+data.avance+'%;':'width: 10%;color: #000;background: #eff2f7;'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{data.avance}}%</div>
                                                                    </div>
                                                                </div>
        
                                                                <div class="col-lg-2 col" (click)="comenzar(data.id)">
                                                                    <div class="row text-muted text-center">
                                                                        <div class="col-12 border-end border-end-dashed">
                                                                            <h5 class="mb-1" style="color: #405189;">{{ data.fecha_termino ? (data.fecha_termino | date: 'd/M/yyyy') : '-' }}</h5>
                                                                            <p class="text-muted mb-0">Término</p>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-lg-1 col" (click)="comenzar(data.id)">
                                                                    <div class="row text-muted text-center">
                                                                        <div class="col-12 border-end border-end-dashed">
                                                                            <h5 class="mb-1" style="font-size: 24px;"><b>{{data.avance}}%</b></h5>
                                                                            <p>Avance</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                                                <div class="col-lg-1 col text-center">
                                                                    <span
                                                                            [style.cursor]="'pointer'" (click)="confirm(deleteModel,data.id)">
                                                                            <i class="ri-delete-bin-line"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            
                                    </div>
                                </ng-container>
                                </div>
                            </ng-container>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
            </div>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xxl-12">
        
        <div class="card">
            <div class="card-header">
            <div class="row">
                <div class="col-lg-12">

                    <div class="row g-4 mb-3">
                        <div class="col-sm">
                        <b>LISTADO DE PLANES DE TRABAJO AUDITORIAS</b>
                        </div>
                        <div class="col-sm-auto">
                        </div>
                    </div>
        
                    <!--Planes de trabajo de Auditoria-->
                    <div class="row g-4 mb-3">
                        <div class="card">
                            <div *ngIf="!workPlan_auditoria_group || workPlan_auditoria_group.length < 1" style="min-height: 350px !important;">
                                
                                <div class="card-body">
                                <div style="text-align: center;width: 100%;font-size: 20px;" class="position-absolute top-50">
                                    Aún no tiene Planes de trabajo de auditorias
                                </div>
                                </div>
                            </div>
        
                            <div *ngIf="workPlan_auditoria_group && workPlan_auditoria_group.length > 0" style="min-height: 350px !important;">
                                
                                <ng-container *ngFor="let au of workPlan_auditoria_group">
                                <div class="card-header">
                                    <h4 style="color: #405189;">{{au.cuerpoLegal}}</h4>
                                    <p>{{au.articulo}}</p>
                                </div>
                                <div class="card-body">
                                <ng-container *ngFor="let data2 of au.planes">
                                    <div class="list-group">
        
                                            <div class="team-list list-view-filter row" style="cursor:pointer;">
                                                <div class="col">
                                                    <div class="card team-box">
                                                        <div class="team-cover">
                                                            
                                                        </div>
                                                        <div class="card-body p-4">                
                                                            <div class="row align-items-center team-row">
                                                                <div class="col team-settings">
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                                                <div class="col-lg-2 col" (click)="comenzar(data2.id)">
                                                                    <div class="row text-muted text-left">
                                                                        <div class="col-12 border-end border-end-dashed">
                                                                            <h5 class="mb-1" style="color: #405189;"><b>{{data2.id.toString().padStart(6,"PT-000")}}</b></h5>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                                                <div class="col-lg-2 col" (click)="comenzar(data2.id)">
                                                                    <div class="row text-muted text-left">
                                                                        <div class="col-12 border-end border-end-dashed">
                                                                            <h5 class="mb-1" style="color: #405189;"><b>{{data2.installationId > 0 ? data2.installation_work_plan.nombre
                                                                                 : ''}}</b></h5>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-lg-2 col" (click)="comenzar(data2.id)">
                                                                    <div class="row text-muted text-center">
                                                                        <div class="col-12 border-end border-end-dashed">
                                                                            <h5 class="mb-1" style="color: #405189;">{{ data2.fecha_inicio | date: 'd/M/yyyy' }}</h5>
                                                                            <p class="text-muted mb-0">Inicio</p>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-lg-2 col" (click)="comenzar(data2.id)">
                                                                    <div class="progress progress-xl">
                                                                        <div class="progress-bar" 
                                                                        [ngClass]="{'bg-danger': data2.avance > 0 && data2.avance < 25, 'bg-warning': data2.avance > 25 && data2.avance < 75, 'bg-success': data2.avance > 75 }" role="progressbar" [style]="data2.avance > 0 ? 'width:'+data2.avance+'%;':'width: 10%;color: #000;background: #eff2f7;'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{data2.avance}}%</div>
                                                                    </div>
                                                                </div>
        
                                                                <div class="col-lg-2 col" (click)="comenzar(data2.id)">
                                                                    <div class="row text-muted text-center">
                                                                        <div class="col-12 border-end border-end-dashed">
                                                                            <h5 class="mb-1" style="color: #405189;">{{ data2.fecha_termino ? (data2.fecha_termino | date: 'd/M/yyyy') : '-' }}</h5>
                                                                            <p class="text-muted mb-0">Término</p>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-lg-1 col" (click)="comenzar(data2.id)">
                                                                    <div class="row text-muted text-center">
                                                                        <div class="col-12 border-end border-end-dashed">
                                                                            <h5 class="mb-1" style="font-size: 24px;"><b>{{data2.avance.toFixed(0)}}%</b></h5>
                                                                            <p>Avance</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                                                <div class="col-lg-1 col text-center">
                                                                    <span
                                                                            [style.cursor]="'pointer'" (click)="confirm(deleteModel,data2.id)">
                                                                            <i class="ri-delete-bin-line"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            
                                    </div>
                                </ng-container>
                                </div>
                            </ng-container>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
            </div>
        </div>
    </div>
  </div>
    </div>
</div>
  
  <!-- removeItemModal -->
  <ng-template #deleteModel let-modal>
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close" (click)="modal.dismiss('Cross click')"></button>
        </div>
      <div class="modal-body">
          <div class="mt-2 text-center">
            <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
            <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                <h4>Esas seguro ?</h4>
                <p class="text-muted mx-4 mb-0">Estas seguro de remover este plan de trabajo ?</p>
            </div>
          </div>
          <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
            <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal" (click)="modal.close('Close click')">Cerrar</button>
            <button type="button" class="btn w-sm btn-danger" id="delete-product" (click)="deleteData(deleteId)" (click)="modal.close('Close click')">Si, Remover!</button>
          </div>
      </div>
    </div><!-- /.modal-content -->
  </ng-template>

<!-- Add ListJs Data -->
<ng-template #content role="document" let-modal>
    <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel">Crear Plan de Trabajo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar" id="close-modal"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form (ngSubmit)="savePlans()" [formGroup]="plansForm" class="tablelist-form" autocomplete="off">
        <div class="modal-body">

            <input type="hidden" name="id" value="" formControlName="ids" />

            <div class="mb-3" id="modal-id" style="display: none;">
                <label for="id-field" class="form-label">ID</label>
                <input type="text" id="id-field" class="form-control" placeholder="ID" readonly />
            </div>
            
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <label for="customername-field" class="form-label">Fecha Inicio</label>
                    <div class="form-icon right">
                        <input [ngClass]="{ 'is-invalid': submitted && form['fechaInicio'].errors }" class="form-control form-control-icon flatpickr-input" id="plans-inicio-input" type="text" formControlName="fechaInicio" mwlFlatpickr [altInput]="true" [convertModelValue]="true">
                        <i class="ri-calendar-todo-fill"></i>
                        
                        <div class="invalid-feedback">Por favor ingresa una fecha de inicio.</div>
                    </div>
                </div>

                <div class="col-sm-6 mb-3">
                    <label for="customername-field" class="form-label">Fecha Termino</label>
                    <div class="form-icon right">
                        <input [ngClass]="{ 'is-invalid': submitted && form['fechaFinalizacion'].errors }" class="form-control form-control-icon flatpickr-input" id="plans-termino-input" type="text" formControlName="fechaFinalizacion" mwlFlatpickr [altInput]="true" [convertModelValue]="true">
                        <i class="ri-calendar-todo-fill"></i>
                        <div class="invalid-feedback">Por favor ingresa una fecha de termino.</div>
                    </div>
                </div>
            </div>

            <div class="row">
                
                <div class="col-sm-6 mb-3">
                    <label for="customername-field" class="form-label">Proyecto</label>
                    <select class="form-control form-select" aria-label="Proyecto" formControlName="proyectoId" placeholder="Seleccione Proyecto" (change)="selectProyecto($event)" [ngClass]="{ 'is-invalid': submitted && form['proyectoId'].errors }">
                        <option value="" selected>Seleccione Proyecto </option>
                        <option *ngFor="let p of projectListWidgets" value="{{p.id}}">{{p.nombre}}
                        </option>
                    </select>
                    <div class="invalid-feedback">Por favor ingresa un proyecto.</div>
                </div>
                
                <div class="col-sm-6 mb-3">
                    <label for="customername-field" class="form-label">Area</label>
                    <select class="form-control form-select" aria-label="Area" formControlName="areaId" placeholder="Seleccione Area" (change)="selectArea($event)" [ngClass]="{ 'is-invalid': submitted && form['areaId'].errors }">
                        <option value="" selected>Seleccione Area </option>
                        <ng-container *ngFor="let area of installations_group_filter">
                            <option value="{{area.area}}">{{area.area}}</option>
                        </ng-container>
                    </select>
                    <div class="invalid-feedback">Por favor ingresa un Area.</div>
                </div>

            </div>

            <div class="row">
                
                <div class="col-sm-6 mb-3">
                    <label for="customername-field" class="form-label">Instalación</label>
                    <select class="form-control form-select" aria-label="Instalación" formControlName="installationId" placeholder="Seleccione Instalación" [ngClass]="{ 'is-invalid': submitted && form['installationId'].errors }">
                        <option value="" selected="">Seleccione Instalación </option>
                        <option *ngFor="let ig of installations_select;" value="{{ig.id}}">{{ig.nombre}} </option>
                    </select>
                    <div class="invalid-feedback">Por favor ingresa una instalación.</div>
                </div>
                
                <div class="col-sm-6 mb-3">
                    <label for="customername-field" class="form-label">Cuerpo legal</label>
                    <select class="form-control form-select" aria-label="Cuerpo legal" (change)="selectCuerpo($event)" formControlName="cuerpoId" placeholder="Seleccione Cuerpo legal" [ngClass]="{ 'is-invalid': submitted && form['cuerpoId'].errors }">
                        <option value="" selected>Seleccione Cuerpo Legal </option>
                        <option *ngFor="let c of lista_cuerpos;" value="{{c.normaId}}">{{c.cuerpoLegal}}</option>
                    </select>
                    <div class="invalid-feedback">Por favor ingresa un Cuerpo legal.</div>
                </div>

            </div>
            
            <div class="row">
                
                <div class="col-sm-6 mb-3">
                    <label for="user-field" class="form-label">Responsable</label>
                    <select class="form-select mb-3" aria-label="Responsable" formControlName="responsable" placeholder="Seleccione Responsable" [ngClass]="{ 'is-invalid': submitted && form['responsable'].errors }">
                        <option selected>Seleccione Responsable </option>
                        <option *ngFor="let r of responsables;" value="{{r.id}}">{{r.nombre}} {{ r.apellido ? r.apellido : ''}}</option>
                    </select>
                <div class="invalid-feedback">Por favor ingresar responsable.</div>
                </div>
            </div>
            
            <div class="row">
                
            <div class="col-sm-12 mb-3">
                <label for="email-field" class="form-label">Descripción</label>
                <textarea rows="3" id="email-field" class="form-control" placeholder="Ingresar Descripción" required
                formControlName="descripcion" [ngClass]="{ 'is-invalid': submitted && form['descripcion'].errors }"></textarea>
                <div class="invalid-feedback">Por favor ingresar descripción.</div>
            </div>

            </div>

            <div class="row" style="margin-top: 24px;">

                <div class="col-sm-12 mb-3" *ngIf="!cuerpoId">
                    <div style="text-align: center;width: 100%;font-size: 20px;" class="position-absolute top-50">
                        Aún no ha seleccionado un Cuerpo Legal
                    </div>
                </div>

                <div class="col-sm-12 mb-3" *ngIf="cuerpoId">
                    
                    <div class="row g-4 mb-3">
                        <div class="col-sm">
                        <h5 class="mb-1 fs-15"><label><b>{{cuerpoLegal.cuerpoLegal}} {{cuerpoLegal.project_article ? ' - '+cuerpoLegal.project_article.tituloNorma : ''}}</b></label></h5><!--style="color: #405189;"-->
                        <p class="text-muted text-truncate-two-lines mb-3"><b>{{cuerpoLegal.project_article ? cuerpoLegal.project_article.organismo : ''}}</b></p>
                        </div>
                        <div class="col-sm-auto">
                            <div class="search-box">
                                <input type="text" class="form-control" placeholder="Buscar artículo..." formControlName="search" [(ngModel)]="term3"><!--"service.searchTerm"-->
                                <i class="ri-search-line search-icon"></i>
                            </div>
                        </div>
                    </div>
        
                    <div class="mb-3">
                        <!--<div class="list-group">-->
                        <ul class="list-group">
                            
                            <ng-container *ngFor="let o of lista_articulos_filter | filter:term3">

                                    <li class="list-group-item mb-3 border" style="cursor: pointer;" [ngClass]="{'card-border-success': validChecked4(o.id) }" (click)="selectArticulo(o)">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-grow-1">
                                            <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0">
                                                   <i class="mdi align-middle lh-1 me-2"  [ngClass]="{'mdi-check-circle text-success': validChecked4(o.id),'mdi-checkbox-blank-circle text-gray': !validChecked4(o.id) }"></i>
                                            </div>
                                            <div class="flex-shrink-0 ms-2">
                                                {{o.articulo}}
                                            </div>
                                            </div>
                                            </div>
                                        
                                        </div>
                                    </li>
                                        
                            </ng-container>
                        </ul>
                    </div>
        
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <!--<button type="button" class="btn btn-light" data-bs-dismiss="modal"
                    (click)="modal.close('Close click')">Cerrar</button>-->
                <button type="submit" class="btn btn-success" id="add-btn">Crear</button>
            </div>
        </div>
    </form>
</ng-template>

