<!-- Start Breadcrumbs -->
<app-breadcrumbs title="{{project.nombre}}" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

 <div class="row project-wrapper">
    <div class="col-xxl-12">
        
  <div class="row">
    <div class="col-xxl-12">
        <!--<h5 class="mb-3">Header Justify Tabs</h5>-->
        <div class="card">
            <div class="card-header align-items-xl-center d-xl-flex">
                <div class="flex-grow-1 mb-xl-0">
                    <button class="btn btn-primary btn-label waves-effect left waves-light" routerLink="/{{project_id}}/project-dashboard"><i class="ri-arrow-left-line label-icon align-middle fs-16"></i> Evaluaciones</button>
                </div>
                <!--<p class="text-muted flex-grow-1 mb-xl-0">Use <code>card-header-pills</code> class to create header justify tab.</p>-->
                <div class="flex-shrink-0">
                    <button type="button" class="btn btn-primary btn-label right waves-effect waves-light" [disabled]="project.estado < 3" (click)="goControl()"><i class="ri-arrow-right-line label-icon align-middle fs-16"></i> Control</button>
                </div>
            </div><!-- end card header -->
            <div class="card-body">
                
                <div class="row">
                    <div class="col-sm-4">
                        <div class="row mb-3">
                            
                            <div class="col-md-12">
                                <div class="card card-animate">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <p class="fw-medium text-muted mb-0">Cuerpos legales aplicables</p>
                                                <h2 class="mt-4 ff-secondary fw-semibold">
                                                    <span [CountTo]="countCuerposLegales()" class="counter-value" [from]="0" [duration]="1"></span>
                                                </h2>
                                                <!--<p class="mb-0 text-muted"><span class="badge bg-light text-success mb-0">[ngClass]=" { 'text-danger': profit === 'down'}"
                                                        <i class="align-middle ri-arrow-up-line"></i>
                                                        {{persantage}} %
                                                    </span> vs. previous month</p>-->
                                            </div>
                                            <div>
                                                <div class="avatar-sm flex-shrink-0">
                                                    <span class="avatar-title bg-soft-info rounded-circle fs-2">
                                                        <i-feather name="users" class="text-info feather-icon-align"></i-feather>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            
                            <div class="col-md-12">
                                <div class="card card-animate">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <p class="fw-medium text-muted mb-0">Artículos aplicables</p>
                                                <h2 class="mt-4 ff-secondary fw-semibold">
                                                    <span [CountTo]="countArticulos()" class="counter-value" [from]="0" [duration]="1"></span>
                                                </h2>
                                            </div>
                                            <div>
                                                <div class="avatar-sm flex-shrink-0">
                                                    <span class="avatar-title bg-soft-info rounded-circle fs-2">
                                                        <i-feather name="users" class="text-info feather-icon-align"></i-feather>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            
                            <div class="col-md-12">
                                <div class="card card-animate bg-primary" style="color: #fff !important;">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <p class="fw-medium mb-0">Cumplimiento actual</p>
                                                <h2 class="mt-4 ff-secondary fw-semibold" style="color: #fff !important;">
                                                    <span [CountTo]="avance_evaluacion > 0 ? avance_evaluacion : 0" class="counter-value" [from]="0" [duration]="1"></span><span>{{avance_evaluacion > 0 ? '' : 0}}%</span>
                                                </h2>
                                                <p class="mb-0" style="font-style: italic;"><span class="badge bg-light mb-0" [ngClass]=" { 'text-danger': evaluations.cumplimiento < 25, 'text-warning': evaluations.cumplimiento > 25 && evaluations.cumplimiento < 75, 'text-success': evaluations.cumplimiento > 75}">
                                                        {{evaluations ? evaluations.cumplimiento : 0}} %
                                                    </span> Última evaluación</p>
                                            </div>
                                            <div>
                                                <div class="avatar-sm flex-shrink-0">
                                                    <span class="avatar-title bg-soft-info rounded-circle fs-2" style="background-color: #fff !important;">
                                                        <i-feather name="users" class="text-info feather-icon-align"></i-feather>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h4>Cuerpos Legales</h4>
                        <apx-chart [series]="simplePieChartCuerpos.series" [chart]="simplePieChartCuerpos.chart" [labels]="simplePieChartCuerpos.labels" [legend]="simplePieChartCuerpos.legend" [dataLabels]="simplePieChartCuerpos.dataLabels" [responsive]="simplePieChartCuerpos.responsive" [colors]="simplePieChartCuerpos.colors" dir="ltr"></apx-chart>
                    </div>
                    
                    <div class="col-sm-4">
                        <h4>Artículos</h4>
                        <apx-chart [series]="simplePieChartArticulos.series" [chart]="simplePieChartArticulos.chart" [labels]="simplePieChartArticulos.labels" [legend]="simplePieChartArticulos.legend" [dataLabels]="simplePieChartArticulos.dataLabels" [responsive]="simplePieChartArticulos.responsive" [colors]="simplePieChartArticulos.colors" dir="ltr"></apx-chart>
                    </div>
                  </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
        </div><!--end col-->
        </div>
        
    </div><!-- end col -->

</div><!-- end row -->