<!-- Start Breadcrumbs -->
<app-breadcrumbs title="{{project.nombre}}" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

 <div class="row project-wrapper">
    <div class="col-xxl-12">
        
  <div class="row">
    <div class="col-xxl-12">
        <!--<h5 class="mb-3">Header Justify Tabs</h5>-->
        <div class="card">
            <div class="card-header align-items-xl-center d-xl-flex">
                <div class="flex-grow-1 mb-xl-0">
                    <button class="btn btn-primary btn-label waves-effect left waves-light" routerLink="/{{project_id}}/project-dashboard"  *ngIf="validateRol(1) || validateRol(2)"><i class="ri-arrow-left-line label-icon align-middle fs-16"></i> Evaluación</button>
                </div>
                <!--<p class="text-muted flex-grow-1 mb-xl-0">Use <code>card-header-pills</code> class to create header justify tab.</p>-->
                <div class="flex-shrink-0">
                    <button type="button" class="btn btn-primary btn-label right waves-effect waves-light" (click)="goDashboard()"><i class="ri-arrow-right-line label-icon align-middle fs-16"></i> Dashboard</button>
                </div>
            </div><!-- end card header -->
            <div class="card-body">
                <!-- Tab panes -->
                <div class="tab-content text-muted">
                    <div class="row">
                        <div class="col-lg-12">
                            
                            <div class="row g-4 mb-3">
                                <div class="col-sm">
                                    <div class="row g-4 mb-3">    
                                        <div class="col-12">
                                            <div class="btn-group" style="width: 100%;" ngbDropdown>
                                                <button type="button" class="btn btn-primary dropdown-toggle dropdown-disable" style="
                                                width: 100%;
                                                text-align: left;" data-bs-toggle="dropdown"  aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>{{ !filtro_cuerpo ? 'CUERPO LEGAL' : filtro_cuerpo +' | '+(filtro_cuerpoTitulo.length > 60 ? filtro_cuerpoTitulo.substring(0, 60)+'...' : filtro_cuerpoTitulo) }}</button>    
                                                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle></button>
                                                <div class="dropdown-menu dropdown-menu-dark"  style="width: 100%;height: 200px;overflow-y:scroll;" ngbDropdownMenu>
                                                    <a class="dropdown-item" [ngClass]="!filtro_cuerpo ? 'active' : ''" href="javascript:void(0);" (click)="selectCuerpoFiltro()">Todos</a>
                                                    
                                                    <!--<ng-container *ngFor="let g of articles_proyects_group;">
                                                        
                                                    <a class="dropdown-item" [ngClass]="filtro_cuerpo && filtro_cuerpo == g.cuerpoLegal ? 'active' : ''" href="javascript:void(0);" (click)="selectCuerpoFiltro(g.cuerpoLegal,g.normaId)">{{g.cuerpoLegal}}</a>
            
                                                    </ng-container>-->
                                                    <ng-container *ngFor="let g of lista_cuerpos;">
                                                        
                                                        <a class="dropdown-item" [ngClass]="filtro_cuerpo && filtro_cuerpo == g.cuerpoLegal+' | '+g.tituloNorma ? 'active' : ''" href="javascript:void(0);" (click)="selectCuerpoFiltro(g.cuerpoLegal,g.normaId, g.tituloNorma)">{{g.cuerpoLegal}} | {{g.tituloNorma.length > 60 ? g.tituloNorma.substring(0, 60)+'...' : g.tituloNorma}}</a>
                
                                                        </ng-container>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row g-4 mb-3">   
                                          
                                        <div class="col-3">
                                            
                                            <div class="btn-group" style="width: 100%;" ngbDropdown>
                                                
                                                <button type="button" class="btn btn-light dropdown-toggle dropdown-disable" style="
                                                width: 100%;
                                                text-align: left;
                                                background: white;
                                            " data-bs-toggle="dropdown"  aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>{{ !tipo_cuerpo ? 'Cumplimiento' : tipo_cuerpo }}</button>    
                                                <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split ml-auto" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle></button>
                                                <div class="dropdown-menu dropdown-menu-dark" style="width: 100%;" ngbDropdownMenu>
                                                    <a class="dropdown-item" [ngClass]="!tipo_cuerpo ? 'active' : ''" href="javascript:void(0);" (click)="selectTipoCuerpo()">Todos</a>
                                                    
                                                    <ng-container *ngFor="let cum of lista_cumplimientos">
                                                        <a class="dropdown-item" [ngClass]="tipo_cuerpo && tipo_cuerpo == cum.cumplimiento ? 'active' : ''" href="javascript:void(0);" (click)="selectTipoCuerpo(cum.cumplimiento)">{{cum.cumplimiento}}</a>
                                                    </ng-container>

                                                    <!--<a class="dropdown-item" [ngClass]="tipo_cuerpo && tipo_cuerpo == 'CUMPLE' ? 'active' : ''" href="javascript:void(0);" (click)="selectTipoCuerpo('CUMPLE')">Cumple</a>
                                                    <a class="dropdown-item" [ngClass]="tipo_cuerpo && tipo_cuerpo == 'CUMPLE PARCIALMENTE' ? 'active' : ''" href="javascript:void(0);" (click)="selectTipoCuerpo('CUMPLE PARCIALMENTE')">Cumple Parcial</a>
                                                    <a class="dropdown-item" [ngClass]="tipo_cuerpo && tipo_cuerpo == 'NO CUMPLE' ? 'active' : ''" href="javascript:void(0);" (click)="selectTipoCuerpo('NO CUMPLE')">No Cumple</a>-->
                                                    <!--<a class="dropdown-item" [ngClass]="tipo_cuerpo && tipo_cuerpo == 'NO EVALUADO' ? 'active' : ''" href="javascript:void(0);" (click)="selectTipoCuerpo('NO EVALUADO')">No Evaluado</a>-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3">
        
                                            <div class="btn-group" style="width: 100%;" ngbDropdown>
                                                
                                                <button type="button" class="btn btn-light dropdown-toggle dropdown-disable" style="
                                                width: 100%;
                                                text-align: left;
                                                background: white;
                                            " data-bs-toggle="dropdown"  aria-haspopup="true" aria-expanded="false" ngbDropdownToggle [disabled]="!tipo_cuerpo">{{ !criticidad_cuerpo ? 'Criticidad' : criticidad_cuerpo }}</button>    
                                                <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split ml-auto" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle [disabled]="!tipo_cuerpo"></button>
                                                <div class="dropdown-menu dropdown-menu-dark"  style="width: 100%;" ngbDropdownMenu>
                                                    <a class="dropdown-item" [ngClass]="!criticidad_cuerpo ? 'active' : ''" href="javascript:void(0);" (click)="selectCriticidadCuerpo()">Ninguno</a>
                                                    <!--<a class="dropdown-item" [ngClass]="criticidad_cuerpo && criticidad_cuerpo == 'Todos' ? 'active' : ''" href="javascript:void(0);" (click)="selectCriticidadCuerpo('Todos')">Todos</a>-->
                                                    
                                                    <ng-container *ngFor="let crit of lista_criticidad">
                                                        <a class="dropdown-item" [ngClass]="criticidad_cuerpo && criticidad_cuerpo == crit.criticidad ? 'active' : ''" href="javascript:void(0);" (click)="selectCriticidadCuerpo(crit.criticidad)">{{crit.criticidad}}</a>
                                                    </ng-container>
                                                    
                                                    <!--<a class="dropdown-item" [ngClass]="criticidad_cuerpo && criticidad_cuerpo == 'Alta' ? 'active' : ''" href="javascript:void(0);" (click)="selectCriticidadCuerpo('Alta')">Alta</a>
                                                    <a class="dropdown-item" [ngClass]="criticidad_cuerpo && criticidad_cuerpo == 'Media' ? 'active' : ''" href="javascript:void(0);" (click)="selectCriticidadCuerpo('Media')">Media</a>
                                                    <a class="dropdown-item" [ngClass]="criticidad_cuerpo && criticidad_cuerpo == 'Baja' ? 'active' : ''" href="javascript:void(0);" (click)="selectCriticidadCuerpo('Baja')">Baja</a>
                                                    <a class="dropdown-item" [ngClass]="criticidad_cuerpo && criticidad_cuerpo == 'No especificado' ? 'active' : ''" href="javascript:void(0);" (click)="selectCriticidadCuerpo('No especificado')">No especificado</a>-->
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-3">
                    
                                            <div class="btn-group" style="width: 100%;" ngbDropdown>
                                                
                                                <button type="button" class="btn btn-light dropdown-toggle dropdown-disable" style="
                                                width: 100%;
                                                text-align: left;
                                                background: white;
                                            " data-bs-toggle="dropdown"  aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>{{ !filtro_atributo ? 'Seleccione el atributo' : filtro_atributo }}</button>    
                                                <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split ml-auto" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle></button>
                                                <div class="dropdown-menu dropdown-menu-dark" style="width: 100%;" ngbDropdownMenu>
                                                    <a class="dropdown-item" [ngClass]="!filtro_atributo ? 'active' : ''" href="javascript:void(0);" (click)="selectAtributoFiltro()">Todos</a>
                                                    
                                                    <ng-container *ngFor="let atr of lista_atributos">
                                                        <a class="dropdown-item" [ngClass]="filtro_atributo && filtro_atributo == atr.atributo ? 'active' : ''" href="javascript:void(0);" (click)="selectAtributoFiltro(atr.atributo)">{{atr.atributo == 'Otros' ? 'Otras Obligaciones' : atr.atributo}}</a>
                                                    </ng-container>
                                                    
                                                    <!--<a class="dropdown-item" [ngClass]="filtro_atributo && filtro_atributo == 'Permiso' ? 'active' : ''" href="javascript:void(0);" (click)="selectAtributoFiltro('Permiso')">Permiso</a>
                                                    
                                                    <a class="dropdown-item" [ngClass]="filtro_atributo && filtro_atributo == 'Reporte' ? 'active' : ''" href="javascript:void(0);" (click)="selectAtributoFiltro('Reporte')">Reporte</a>
                                                    
                                                    <a class="dropdown-item" [ngClass]="filtro_atributo && filtro_atributo == 'Monitoreo' ? 'active' : ''" href="javascript:void(0);" (click)="selectAtributoFiltro('Monitoreo')">Monitoreo</a>
                                                    
                                                    <a class="dropdown-item" [ngClass]="filtro_atributo && filtro_atributo == 'Otros' ? 'active' : ''" href="javascript:void(0);" (click)="selectAtributoFiltro('Otros')">Otras Obligaciones</a>-->
                                                </div>
                                            </div>
                    
                                        </div>
            
                                        
                                        <div class="col-3">
                    
                                            <div class="btn-group" style="width: 100%;" ngbDropdown>
                                                
                                                <button type="button" class="btn btn-light dropdown-toggle dropdown-disable" style="
                                                width: 100%;
                                                text-align: left;
                                                background: white;
                                            " data-bs-toggle="dropdown"  aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>{{ !filtro_articulo ? 'Seleccione el árticulo' : filtro_articulo }}</button>
                                                <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split ml-auto" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle></button>
                                                <div class="dropdown-menu dropdown-menu-left dropdown-menu-dark" style="width: 100%;height: 200px;overflow-y:scroll;" ngbDropdownMenu>
                                                    <a class="dropdown-item" [ngClass]="!filtro_articulo ? 'active' : ''" href="javascript:void(0);" (click)="selectArticuloFiltro()">Todos</a>
            
                                                    <!--<ng-container *ngFor="let ach of articles_filter">
                                                        <a class="dropdown-item" [ngClass]="filtro_articuloId && filtro_articuloId == ach.id ? 'active' : ''" href="javascript:void(0);" (click)="selectArticuloFiltro(ach.id, ach.articulo)">{{ach.articulo}}</a>
                                                    </ng-container>-->
                                                    <ng-container *ngFor="let ach of lista_articulos">
                                                        <a class="dropdown-item" [ngClass]="filtro_articuloId && filtro_articuloId == ach.id ? 'active' : ''" href="javascript:void(0);" (click)="selectArticuloFiltro(ach.id, ach.articulo)">{{ach.articulo}}</a>
                                                    </ng-container>
                                                </div>
                                            </div>
                    
                                        </div>
                                    </div>
                                    
                                    <!--<div class="row g-4 mb-3">
            
                                        <div class="col-12">
                    
                                            <div class="btn-group" style="width: 100%;" ngbDropdown>
                                                
                                                <button type="button" class="btn btn-light dropdown-toggle dropdown-disable" style="
                                                width: 100%;
                                                text-align: left;
                                                background: white;
                                            " data-bs-toggle="dropdown"  aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>{{ !filtro_area_cuerpo ? 'Selecciona el área' : filtro_area_cuerpo }}</button>    
                                                <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle></button>
                                                <div class="dropdown-menu dropdown-menu-dark"  style="width: 100%;height: 200px;overflow-y:scroll;" ngbDropdownMenu>
                                                    
                                                    <a class="dropdown-item" [ngClass]="!filtro_area_cuerpo ? 'active' : ''" href="javascript:void(0);" (click)="selectAreaChartCuerpo()">Todos</a>
            
                                                    <ng-container *ngFor="let ar of lista_areas;">
                                                        <a class="dropdown-item" [ngClass]="filtro_area_cuerpo && filtro_area_cuerpo == ar.area ? 'active' : ''" href="javascript:void(0);" (click)="selectAreaChartCuerpo(ar.area)">{{ar.area}}</a>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->

                            <div class="row g-4 mb-3">
                    
                                <!--<div class="col-2">-->
                                    <div class="chip">
                                        Corporativo
                                        <!--<span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>-->
                                    </div>
                                <!--</div>-->
                                <ng-container *ngFor="let arc of areas_select_chart;">
                                    <!--<div class="col-2">-->
                                        <div class="chip">
                                            {{arc.nombre}}
                                            <span class="closebtn" (click)="deleteAreaChart(arc.id)">&times;</span><!-- onclick="this.parentElement.style.display='none'"-->
                                        </div>
                                    <!--</div>-->
                                </ng-container>
                              </div>
    
                              <div class="row g-4 mb-3">
                                
                                <div class="col-12">
    
                                    <div class="btn-group" style="width: 100%;" ngbDropdown>
                                        
                                        <button type="button" class="btn btn-primary" style="
                                        width: 100%;
                                        text-align: left;
                                    ">Selecciona el área</button>    
                                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle></button>
                                        <div class="dropdown-menu dropdown-menu-dark" style="width: 100%;height: 200px;overflow-y:scroll;" ngbDropdownMenu>
                                            <ng-container *ngFor="let ar of areas_chart;">
                                                <a class="dropdown-item" href="javascript:void(0);" (click)="selectAreaChart(ar.id, ar.nombre)">{{ar.nombre}}</a>
                                            </ng-container>
                                        </div>
                                    </div>
            
                                </div>

                                </div>
                                </div>
                                <div class="col-sm-auto">
                                    <div class="d-md-flex justify-content-sm-end gap-2">
                                        <div class="search-box ms-md-2 flex-shrink-0 mb-3 mb-md-0">
                                            <input type="text" class="form-control" style="width: 400px; margin-right: 30px;" placeholder="Buscar un Elemento" [(ngModel)]="searchTerm" (input)="filterList(searchTerm)"><!-- [(ngModel)]="term"-->
                                            <i class="ri-search-line search-icon"></i>
                                        </div>
                                        
                                        <button class="btn btn-primary waves-effect waves-light" (click)="clearFilters()"> Limpiar Filtros</button>
                                    </div>
                                </div>
                            </div>
                
                                    <div *ngIf="installations_group_filter.length < 1">
                                        <div style="text-align: center;width: 100%;font-size: 20px;">
                                            Aún no tiene Elementos o actividades
                                        </div>
                                    </div>

                                    <ng-template #myInstallation let-v="v">
                                        <div class="team-list list-view-filter row" style="cursor: pointer;" (click)="goDetail(v.id)">
                                            <div class="col">
                                                <div class="card team-box">
                                                    <div class="team-cover">
                                                        
                                                    </div>
                                                    <div class="card-body p-4">                
                                                        <div class="row align-items-center team-row">
                                                            <div class="col team-settings">
                                                                <div class="row">
                                                                    <div class="col">
                                                                        
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col">
                                                                <div class="team-profile-img">
                                                                    
                                                                    <div class="form-check form-check-inline form-radio-primary mb-3">
                                                                        <label class="form-check-label" for="inlineCheckbox1">
                                                                            <h5 class="fs-16 mb-1" style="color: #405189;">{{v.nombre}}</h5>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
    
                                                            <div class="col-lg-2 col">
                                                                <div class="row text-muted text-center">
                                                                    <div class="col-12 border-end border-end-dashed">
                                                                        <h5 class="mb-1">{{ v.updatedAt | date: 'd/M/yyyy' }}</h5>
                                                                        <p class="text-muted mb-0">Última actualización</p>
                                                                    </div>
                                                                </div>
                                                            </div>
    
                                                            <div class="col-lg-2 col">
                                                                <div class="row text-muted text-center">
                                                                    <div class="col-12 border-end border-end-dashed">
                                                                        <h5 class="mb-1">{{v.total_cuerpos ? v.total_cuerpos : 0}}</h5>
                                                                        <p class="text-muted mb-0">{{v.total_cuerpos && v.total_cuerpos == 1 ? 'Cuerpo Legal Vinculado' : 'Cuerpos legales Vinculados'}}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="col-lg-2 col">
                                                                <div class="row text-muted text-center">
                                                                    <div class="col-12 border-end border-end-dashed">
                                                                        <h5 class="mb-1">{{v.total_articulos ? v.total_articulos : 0}}</h5>
                                                                        <p class="text-muted mb-0">{{v.total_articulos && v.total_articulos == 1 ? 'Artículo Vinculado' : 'Artículos Vinculados'}}</p>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-2 col">
                                                                <div class="row text-muted text-center">
                                                                <div class="progress progress-xl">
                                                                    <div class="progress-bar" [ngClass]="{'bg-danger': v.avance > 0 && v.avance < 25, 'bg-warning': v.avance > 25 && v.avance < 75, 'bg-success': v.avance > 75 }" role="progressbar" [style]="v.avance > 0 ? 'width:'+(v.avance > 100 ? 100 : v.avance)+'%;':'width: 10%;color: #000;background: #eff2f7;'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{(v.avance > 100 ? 100 : v.avance)}}%</div>
                                                                </div>
                                                                <p class="text-muted mb-0">Cumplimiento</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                    
                                    <ng-template #myAreas let-s="s" let-type="type" let-index="index">
                                        <div class="list-group">
                                                      
                                            <div *ngIf="installations_group_filter.length > 0 && validIndexArea(installations_group_filter, s.nombre)">
                                                <div style="background: #405189;padding: 5px;border-radius: 0.25rem;">
                                                    <h4 style="color: #fff;">{{s.nombre}}</h4>
                                                    <!--<p style="color: #fff;">{{s.descripcion}}</p>-->
                                                </div><!--[ngClass]="{'sub-item': type == 1, 'sub-item2': type == 2}"-->
                                                                                                                                        <div class="list-group">
                                                    <ng-container *ngFor="let ig of getFilterArea(installations_group_filter, s.nombre)">
                                                        <!--<h4 style="color: #405189;">{{ig.area}}</h4>
                                                        <p>{{ig.descripcion}}</p>-->
                    
                                                        <ng-container *ngFor="let v of ig.instalaciones;">
                                                            <ng-container [ngTemplateOutlet]="myInstallation" [ngTemplateOutletContext]="{v: v }"></ng-container>

                                                        </ng-container>
                                                    </ng-container>
                                                </div>
                                            </div>

                                                <ng-container *ngIf="s.children">
            
                                                    <div class="col-xxl-12" *ngFor="let it of s.children">
        
                                                        <ng-container *ngIf="installations_group_filter.length > 0 && validDataArea(it,installations_group_filter,'HIJO 2') && (!areas_select_chart[index] || areas_select_chart[index].nombre == it.nombre)">
                                                            <ng-container [ngTemplateOutlet]="myAreas" [ngTemplateOutletContext]="{s: it, type: 2, index: index+1 }">
                                                            </ng-container>
                                                        </ng-container>
                                                    
                                                    </div>
                                                </ng-container>
                                        </div>
                                    </ng-template>         
                                        <div class="list-group">
                                            <ng-container *ngFor="let td of tree_data">
                                                <ng-container *ngIf="installations_group_filter.length > 0 && validDataArea(td,installations_group_filter,'PADRE') && (!areas_select_chart[0] || areas_select_chart[0].nombre == td.nombre)">
                                                
                                    <div *ngIf="installations_group_filter.length > 0 && validIndexArea(installations_group_filter, td.nombre)">
                                        
                                            <div style="background: #405189;padding: 5px;border-radius: 0.25rem;">
                                            <h4 style="color: #fff;">{{td.nombre}}</h4>
                                            <!--<p style="color: #fff;">{{td.descripcion}}</p>--> 
                                            </div>
                                            
                                            <div class="list-group">
                                                <ng-container *ngFor="let ig of getFilterArea(installations_group_filter, td.nombre)">
                                                    <!--<h4 style="color: #405189;">{{ig.area}}</h4>
                                                    <p>{{ig.descripcion}}</p>-->
                
                                                    <ng-container *ngFor="let v of ig.instalaciones;">
                                                        <ng-container [ngTemplateOutlet]="myInstallation" [ngTemplateOutletContext]="{v: v }"></ng-container>

                                                    </ng-container>
                                                </ng-container>
                                            </div>
                                    </div>
                                        <ng-container *ngIf="td.children">
            
                                            <div class="col-xxl-12" *ngFor="let item of td.children">
                                                
                                                <ng-container *ngIf="installations_group_filter.length > 0 && validDataArea(item,installations_group_filter,'HIJO 1') && (!areas_select_chart[1] || areas_select_chart[1].nombre == item.nombre)">
                                                
                                                    <ng-container [ngTemplateOutlet]="myAreas" [ngTemplateOutletContext]="{s: item, type: 1, index: 2 }">
                                                    </ng-container>
                                                </ng-container>
                                            
                                            </div>
                                        </ng-container>
                                    </ng-container>

                                            </ng-container>
                                       </div>
                        </div>
                      </div>
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
        </div><!--end col-->
        </div>
        
    </div><!-- end col -->

</div><!-- end row -->