<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Paso 4: Conecta la normativa a tus procesos" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<!--preloader-->
<div id="preloader" style="opacity: 0px !important;background-color: #000 !important;visibility: hidden;">
    <div id="status">
      <div class="spinner-border text-primary avatar-sm" role="status">
          <span class="visually-hidden">Cargando...</span>
      </div>
    </div>
  </div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
         <div class="card-header" *ngIf="installation_id">
            <div class="row">
                <div class="col-xxl-3 col-lg-3" style="padding: 10px;">
                    <h4 class="card-title mb-0">{{installation_nombre}}</h4>
                </div>
                
                <div class="col-xxl-3 col-lg-3">
                    <div class="titulo-caja"><b>{{installations_articles.length > 0 ? installations_articles.length : 0}} {{installations_articles.length == 1 ? 'Cuerpo legal' : 'Cuerpos legales'}}</b></div>
                </div>

                <div class="col-xxl-3 col-lg-3">
                    <div class="titulo-caja"><b>{{installations_articles.length > 0 ? installations_articles.length : 0}} {{installations_articles.length == 1 ? 'Artículo' : 'Artículos'}}</b></div>
                </div>

                <div class="col-xxl-3 col-lg-3">
                    <div class="search-box">
                        <input type="text" class="form-control bg-light border-light" placeholder="Buscar...">
                        <i class="ri-search-2-line search-icon"></i>
                    </div>
                </div>
            </div>
         </div>

            <div class="card-body">
                <div id="customerList">
                    <!--<div class="row g-4 mb-3">
                        <div class="col-sm-auto">
                            <div class="d-flex gap-1">
                                <button type="button" class="btn btn-success add-btn" data-bs-toggle="modal"
                                    id="create-btn" data-bs-target="#showModal" (click)="openModal(content)"><i
                                        class="ri-add-line align-bottom me-1"></i> Agregar</button>
                                <button class="btn btn-soft-danger" (click)="deleteMultiple(deleteModel)"><i
                                        class="ri-delete-bin-2-line"></i></button>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="d-flex justify-content-sm-end">
                                <div class="search-box ms-2">
                                    <input type="text" class="form-control search" placeholder="Buscar..."
                                        [(ngModel)]="service.searchTerm">
                                    <i class="ri-search-line search-icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <div class="table-responsive table-card mt-3 mb-1">
                        <table class="table">
                            <thead>
                                <tr class="bg-light text-muted">
                                    <!--<th scope="col" style="width: 50px;">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="checkAll" value="option"
                                                [(ngModel)]="masterSelected" (change)="checkUncheckAll($event)">
                                        </div>
                                    </th>-->
                                    <th class="sort" data-sort="nombre">Cuerpos Legales</th>
                                    <th class="sort" data-sort="descripcion">Descripción</th>
                                    <th class="sort" data-sort="carecteristicas">Características</th>
                                    <th class="sort">Estado</th>
                                    <th class="sort">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of BodyLegalDatas" id="lj_{{data.normaId}}">
                                    <!--<th scope="row">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="checkAll"
                                                value="{{data.id}}" [(ngModel)]="data.state">
                                        </div>
                                    </th>-->
                                    <td>
                                        <h4>{{data.identificador ? data.identificador.tipoNorma+' '+data.identificador.numero : ''}}</h4>
                                        <h5>{{data.tituloNorma ? data.tituloNorma : ''}}</h5>
                                        <ng-container *ngFor="let org of data.organismos">
                                            {{org}}
                                        </ng-container>
                                    </td>
                                    <td>
                                        <ngb-highlight [result]="data.encabezado ? data.encabezado.texto.substr(0,400)+'...' : ''"
                                            [term]="service.searchTerm">
                                        </ngb-highlight></td>
                                    <td>
                                        Publicado el {{data.dates ? data.dates.fechaPublicacionNorma : ''}}<br>
                                        Vigencia: {{data.dates ? data.dates.fechaVencimientoNorma : ''}}
                                    </td>
                                    <td class="status"><span
                                                class="badge badge-soft-{{data.conectado ? 'success' : 'danger'}} text-uppercase">{{data.conectado ? data.conectado : 'No conectado'}}</span>
                                    </td>
                                    <td>
                                        
                                        <div class="d-flex gap-2">
                                            <div class="edit" *ngIf="installation_id">
                                                <button class="btn btn-sm btn-success edit-item-btn" routerLink="/projects/{{project_id}}/type/bodylegal/{{data.normaId}}/Detail/{{installation_id}}/{{installation_nombre}}"
                                                    >Conectar</button>
                                            </div>
                                            <div class="edit" *ngIf="!installation_id">
                                                <button class="btn btn-sm btn-success edit-item-btn" routerLink="/projects/{{project_id}}/type/bodylegal/{{data.normaId}}/Detail"
                                                    >Conectar</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row justify-content-md-between align-items-md-center">
                        <div class="col col-sm-6">
                            <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                                Mostrando
                                {{service.startIndex}} de
                                {{service.endIndex}} de {{service.totalRecords}}
                                entradas
                            </div>
                        </div>
                        <!-- Pagination -->
                        <div class="col col-sm-6">
                            <div class="text-sm-right float-sm-end listjs-pagination">
                                <ngb-pagination [collectionSize]="(total | async)!" [(page)]="service.page"
                                    [pageSize]="service.pageSize">
                                </ngb-pagination>
                            </div>
                        </div>
                        <!-- End Pagination -->
                    </div>
                </div>
            </div><!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->

<app-toastsp aria-live="polite" aria-atomic="true"></app-toastsp>