<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Crear Proyecto" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

  <!--preloader-->
  <div id="preloader" style="opacity: 0px !important;background-color: #000 !important;visibility: hidden;">
    <div id="status">
      <div class="spinner-border text-primary avatar-sm" role="status">
          <span class="visually-hidden">Cargando...</span>
      </div>
    </div>
  </div>
  
<ng-container *ngIf="!typeCreate">
<!-- Vertical alignment (align-items-center) -->
<div class="row justify-content-center" style="padding-top: 10%;">
    <div class="col-lg-8">
        <h4 style="text-align: center;">Define el nombre del proyecto</h4>
        <div class="card">
            <div class="card-body">
                  <div class="mb-3">
                    <form [formGroup]="createForm">
                    <label class="form-label" for="project-title-input">Nombre de Proyecto</label>
                    <input type="text" class="form-control" id="project-title-input"
                        placeholder="Escribe nombre de Proyecto" formControlName="nombre">
                        
                    <label class="form-label" style="margin-top: 20px !important;" for="project-title-input">Descripción del Proyecto</label>
                    <!--<input type="text" class="form-control" id="project-title-input"
                        placeholder="Escribe descripción del Proyecto" formControlName="descripcion">-->
                        <textarea rows="3" class="form-control" id="project-title-input"
                        placeholder="Escribe descripción del Proyecto" formControlName="descripcion"></textarea>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12 justify-content-end" style="display: block;padding: 0px;position: fixed;bottom: 60px;">
    <div class="row justify-content-end">
        <div class="col-4">
            <button mat-raised-button class="btn btn-danger w-lg waves-effect waves-light" style="margin-bottom: 10px;" (click)="siguiente()">Siguiente</button>   <!--routerLink="/projects/create/type"-->
        </div>
    </div>
</div>
</ng-container>
<ng-container *ngIf="typeCreate">
    <!--<div class="row">-->
    <div class="row justify-content-center" style="padding-top: 10%;">
        <!--<ng-container *ngFor="let t of types;let impar=odd;">
        <div class="col-xxl-5">
            <div class="card border card-border-dark" style="border-color: #767676 !important;min-height: 250px;">
                <div class="card-header" style="background-color: #dce0e4 !important;min-height: 70px;">
                    <h6 class="card-title mb-0">{{t.nombre}}</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">{{t.descripcion}}</p>
                </div>
                <div class="card-footer" style="border-top: 0px;">
                    <div class="text-end">
                        <button mat-raised-button class="btn btn-danger w-lg waves-effect waves-light" (click)="saveProject(t.id)">Iniciar</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-xxl-2" *ngIf="!impar">
        </div>
        </ng-container>-->
        <div class="col-12">
        <h4 style="text-align: center;">Define el tipo de proyecto</h4>
        </div>
        <div class="col-xxl-4 col-lg-6">
            <div class="card card-body">
                <div class="avatar-sm mb-3">
                    <div class="avatar-title bg-soft-success text-success fs-17 rounded">
                        <i class="ri-add-line"></i>
                    </div>
                </div>
                <h4 class="card-title">Identifica las obligaciones legales y permisos de tu proyecto</h4>
                <p class="card-text text-muted">En tan solo 5 pasos, completa los campos requeridos y obtendrás un reporte gráfico y ejecutivo de las obligaciones legales aplicables a tu proyecto.</p>
                <a href="javascript:void(0);" class="btn btn-success" style="
                background: #767676;
                border-color: #767676;
                cursor: no-drop;
            " (click)="saveProject(1)">Iniciar</a>
            </div>
        </div>
        <div class="col-xxl-4 col-lg-6">
            <div class="card card-body">
                <div class="avatar-sm mb-3">
                    <div class="avatar-title bg-soft-success text-success fs-17 rounded">
                        <i class="ri-add-line"></i>
                    </div>
                </div>
                <h4 class="card-title">Vincula tus intalaciones a obligaciones legales</h4>
                <p class="card-text text-muted">Revisa cuales son los articulos legales que te aplican y vinculalos a tus obligaciones para gestionar su cumplimiento.</p>
                <a href="javascript:void(0);" class="btn btn-success"  (click)="saveProject(1)">Iniciar</a>
            </div>
        </div>
    </div>
</ng-container>

<app-toastsp aria-live="polite" aria-atomic="true"></app-toastsp>