<!-- Start Breadcrumbs -->
<app-breadcrumbs title="{{title}}" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->
 
<!--preloader-->
 <div id="preloader" style="opacity: 0px !important;background-color: #000 !important;visibility: hidden;">
    <div id="status">
      <div class="spinner-border text-primary avatar-sm" role="status">
          <span class="visually-hidden">Cargando...</span>
      </div>
    </div>
  </div>

<!-- End Breadcrumbs -->
<!-- Vertical alignment (align-items-center) -->
<div class="row justify-content-center" style="padding-top: 10%;">
    <div class="col-lg-8" *ngIf="step == 1">
        <div class="title-step">
            <h4 style="text-align: center;">Define la ubicación de tu proyecto</h4>
        </div>
        <div class="card">
            <div class="card-body">
                <form [formGroup]="locationForm">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="mb-3 mb-lg-0">
                            <label for="choices-priority-input" class="form-label">Región</label>
                            <select class="form-select" placeholder="Selecciona región" data-choices data-choices-search-false
                                id="choices-priority-input" formControlName="regionId" (change)="getComunes($event.target)">
                                <option value="">Selecciona región</option>
                                <option *ngFor="let r of regions;" value="{{r.id}}">{{r.nombre_region}}</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-lg-4">
                        <div class="mb-3 mb-lg-0">
                            <label for="choices-priority-input" class="form-label">Comuna</label>
                            <select class="form-select" placeholder="Selecciona comuna" data-choices data-choices-search-false
                                id="choices-priority-input2" formControlName="comunaId">
                                <option value="">Selecciona comuna</option>
                                <option *ngFor="let c of comunes;" value="{{c.id}}">{{c.nombre_comuna}}</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-lg-4">
                        <div class="mb-3 mb-lg-0">
                            <label for="choices-priority-input" class="form-label">Tipo de zona</label>
                            <select class="form-select" placeholder="Selecciona tipo de zona" data-choices data-choices-search-false
                                id="choices-priority-input3" formControlName="tipoZonaId">
                                <option value="">Selecciona tipo de zona</option>
                                <option *ngFor="let z of zones;" value="{{z.id}}">{{z.nombre_zona}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-8" *ngIf="step == 2">
        <div class="title-step">
            <h4 style="text-align: center;">{{pregunta.pregunta}}</h4>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mb-3 mb-lg-0">
                            <label for="choices-priority-input" class="form-label">Sector productivo</label>
                            <select class="form-select" placeholder="Selecciona sector productivo" data-choices data-choices-search-false
                                id="choices-priority-input">
                                <option value="">Selecciona sector productivo</option>
                                <option *ngFor="let res of respuestas;" value="{{res.id}}">{{res.respuesta}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-lg-8" *ngIf="step == 3">
        <div class="title-step">
            <h4 style="text-align: center;">{{pregunta.pregunta}}</h4>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mb-3 mb-lg-0">
                            <label for="choices-priority-input" class="form-label">Tipo de actividad</label>
                            <select class="form-select" placeholder="Selecciona actividad" data-choices data-choices-search-false
                                id="choices-priority-input">
                                <option value="">Selecciona actividad</option>
                                <option *ngFor="let res of respuestas;" value="{{res.id}}">{{res.respuesta}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-lg-8" *ngIf="step == 4">
        <div class="title-step">
            <h4 style="text-align: center;">Variables Generales</h4>
            <h5 style="text-align: center;">{{pregunta.pregunta}}</h5>
        </div>
        <div class="row justify-content-center">
            <ng-container *ngFor="let res of respuestas;">
                <div class="col-lg-4">
                    <div class="card border" style="background: #fef2df;">
                        <div class="card-body select-variable" style="text-align: center;" [ngClass]="{'select-variable-check': validateVariable(step+'|'+res.id)}" (click)="selectVariable(step+'|'+res.id)">
                            <b>{{res.respuesta}}</b>
                        </div>
                    </div>
                    
                    <div class="card border" *ngIf="res.descripcion">
                        <div class="card-body">
                            <h5>Descripción</h5>
                            {{res.descripcion}}
                        </div>
                    </div>
                </div>
            </ng-container>
        <!--<div class="col-lg-4">
            <div class="card border" style="background: #fef2df;">
                <div class="card-body" style="text-align: center;">
                    <b>OBLIGACIONES HABILITANTES</b>
                </div>
            </div>
            
            <div class="card border">
                <div class="card-body">
                    <h5>Descripción</h5>
                    Alguna descripcion
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border" style="background: #fef2df;">
                <div class="card-body" style="text-align: center;">
                    <b>OBLIGACIONES REPORTABLES</b>
                </div>
            </div>
            
            <div class="card border">
                <div class="card-body">
                    <h5>Descripción</h5>
                    Alguna descripcion
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border" style="background: #fef2df;">
                <div class="card-body" style="text-align: center;">
                    <b>TODAS LAS OBLIGACIONES</b>
                </div>
            </div>
            
        </div>-->
        </div>
    </div>

    <div class="col-lg-10" *ngIf="step == 5">
        <div class="title-step">
            <h4 style="text-align: center;">Variables Generales</h4>
            <h5 style="text-align: center;">{{pregunta.pregunta}}</h5>
        </div>
        <div class="row justify-content-center">
            
            <ng-container *ngFor="let res of respuestas;">
                
                <div class="col-lg-3" *ngIf="res.respuesta != 'MEDIO AMBIENTE' && res.respuesta != 'SEGURIDAD Y SALUD LABORAL' && res.respuesta != 'LABORAL' && res.respuesta != 'EFICIENCIA ENERGETICA'">
                    <div class="card border select-variable" style="background: #d1eeea;margin-top: 1.5rem;" [ngClass]="{'select-variable-check': validateVariable(step+'|'+res.id)}" (click)="selectVariable(step+'|'+res.id)">
                        <div class="card-body" style="text-align: center;">
                            <div style="background-color: #d7e8d8;width: 40px;height: 40px; border: 1px solid #d7e8d8;border-radius: 24px;margin: auto;">
                                <i class="ri-plant-fill" style="font-size: 24px;color: #4a9d4b;"></i>
                            </div>
                            <p style="margin-top: 10px;"><b>{{res.respuesta}}</b></p>
                            <p>{{res.descripcion}}</p>
                            
                        </div>
                    </div>
                    
                </div>     
        <div class="col-lg-3" *ngIf="res.respuesta == 'MEDIO AMBIENTE'">
            <div class="card border select-variable" style="background: #d1eeea;margin-top: 1.5rem;" [ngClass]="{'select-variable-check': validateVariable(step+'|'+res.id)}" (click)="selectVariable(step+'|'+res.id)">
                <div class="card-body" style="text-align: center;">
                    <div style="background-color: #d7e8d8;width: 40px;height: 40px; border: 1px solid #d7e8d8;border-radius: 24px;margin: auto;">
                        <i class="ri-plant-fill" style="font-size: 24px;color: #4a9d4b;"></i>
                    </div>
                    <p style="margin-top: 10px;"><b>MEDIO AMBIENTE</b></p>
                    <p>Todas aquellas normas que tienen la finalidad de asegurar la protección del medio ambiente.</p>
                    
                </div>
            </div>
            
        </div>
        <div class="col-lg-3" *ngIf="res.respuesta == 'SEGURIDAD Y SALUD LABORAL'">
            <div class="card border select-variable" style="background: #faeedc;margin-top: 1.5rem;" [ngClass]="{'select-variable-check': validateVariable(step+'|'+res.id)}" (click)="selectVariable(step+'|'+res.id)">
                <div class="card-body" style="text-align: center;">
                    <div style="background-color: #f4d890;width: 40px;height: 40px; border: 1px solid #f4d890;border-radius: 24px;margin: auto;">
                        <i class="ri-briefcase-fill" style="font-size: 24px;color: #ebaf47;"></i>
                    </div>
                    <p style="margin-top: 10px;"><b>SEGURIDAD Y SALUD LABORAL</b></p>
                    <p>Es un área multidisciplinaria relacionada con la seguridad, salud y la calidad de vida de las personas en la ocupación.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3" *ngIf="res.respuesta == 'LABORAL'">
            <div class="card border select-variable" style="background: #fae1dc;margin-top: 1.5rem;" [ngClass]="{'select-variable-check': validateVariable(step+'|'+res.id)}" (click)="selectVariable(step+'|'+res.id)">
                <div class="card-body" style="text-align: center;">
                    <div style="background-color: #ebbdb4;width: 40px;height: 40px; border: 1px solid #ebbdb4;border-radius: 24px;margin: auto;">
                        <i class="ri-shirt-fill" style="font-size: 24px;color: #f25c03;"></i>
                    </div>
                    <p style="margin-top: 10px;"><b>LABORAL</b></p>
                    <p>Todas las empresas deben cumplir y hacer cumplir los requisitos contractuales y estatutarios.</p>
                </div>
            </div>
        </div>
        

        <div class="col-lg-3" *ngIf="res.respuesta == 'EFICIENCIA ENERGETICA'">
            <div class="card border select-variable" style="background: #b3ebf6;margin-top: 1.5rem;" [ngClass]="{'select-variable-check': validateVariable(step+'|'+res.id)}" (click)="selectVariable(step+'|'+res.id)">
                <div class="card-body" style="text-align: center;">
                    <div style="background-color: #8de1f2;width: 40px;height: 40px; border: 1px solid #8de1f2;border-radius: 24px;margin: auto;">
                        <i class="ri-flashlight-line" style="font-size: 24px;color: #0cc2e7;"></i>
                    </div>
                    <p style="margin-top: 10px;"><b>EFICIENCIA ENERGETICA</b></p>
                    <p>Optimización del consumo energético para alcanzar unos niveles determinados de confort y de servicio.</p>
                </div>
            </div>
        </div>
        </ng-container>
        </div>
    </div>

    <div class="col-lg-8" *ngIf="step == 6">
        <div class="title-step">
            <h4 style="text-align: center;">Variables Generales</h4>
            <h5 style="text-align: center;">{{pregunta.pregunta}}</h5>
        </div>
        <div class="row justify-content-center">
            
        <ng-container *ngFor="let res of respuestas;">
        <div class="col-lg-4">
                <div class="card border" style="background: #fef2df;">
                    <div class="card-body select-variable" style="text-align: center;" [ngClass]="{'select-variable-check': validateVariable(step+'|'+res.id)}" (click)="selectVariable(step+'|'+res.id)">
                        <b>{{res.respuesta}}</b>
                    </div>
                </div>
                
        </div>
        <!--
        <div class="col-lg-4">
            <div class="card border" style="background: #fef2df;">
                <div class="card-body" style="text-align: center;">
                    <b>CONSTRUCCIÓN</b>
                </div>
            </div>
            
        </div>
        <div class="col-lg-4">
            <div class="card border" style="background: #fef2df;">
                <div class="card-body" style="text-align: center;">
                    <b>OPERACIÓN</b>
                </div>
            </div>
            
        </div>
        <div class="col-lg-4">
            <div class="card border" style="background: #fef2df;">
                <div class="card-body" style="text-align: center;">
                    <b>CIERRE</b>
                </div>
            </div>
            
        </div>-->
        </ng-container>
        </div>
    </div>

    <div class="col-lg-8" *ngIf="step == 7">
        
        <div class="title-step">
            <h4 style="text-align: center;">Variables Específicas</h4>
            <h5 style="text-align: center;">{{pregunta.pregunta}}</h5>
        </div>
        
        <div class="row justify-content-center">
        
            <ng-container *ngFor="let res of respuestas;">    
            <div class="col-lg-4">
                <div class="card border" style="min-height: 100px;">
                    <div class="card-body select-variable" style="text-align: center;display: flex;justify-content: center;align-items: center;" [ngClass]="{'select-variable-check': validateVariable(step+'|'+res.id)}" (click)="selectVariable(step+'|'+res.id)">
                        <b>{{res.respuesta}}</b>
                    </div>
                </div>
                
            </div>
            </ng-container>
        <!--    
        <div class="col-lg-4">
            <div class="card border">
                <div class="card-body" style="text-align: center;">
                    <b>PERSONAS</b>
                </div>
            </div>
            
        </div>
        <div class="col-lg-4">
            <div class="card border">
                <div class="card-body" style="text-align: center;">
                    <b>INSUMOS</b>
                </div>
            </div>
            
        </div>
        <div class="col-lg-4">
            <div class="card border">
                <div class="card-body" style="text-align: center;">
                    <b>PRODUCTOS</b>
                </div>
            </div>
            
        </div>
        
        <div class="col-lg-4">
            <div class="card border">
                <div class="card-body" style="text-align: center;">
                    <b>PLANTAS Y PROCESOS</b>
                </div>
            </div>
            
        </div>
        
        <div class="col-lg-4">
            <div class="card border">
                <div class="card-body" style="text-align: center;">
                    <b>EXTRACCIÓN Y CONSUMO DE RECURSOS NATURALES</b>
                </div>
            </div>
            
        </div>
        
        <div class="col-lg-4">
            <div class="card border">
                <div class="card-body" style="text-align: center;">
                    <b>MAQUINARIA Y EQUIPOS</b>
                </div>
            </div>
            
        </div>-->
        </div>
    </div>

<div class="col-sm-12 justify-content-end" style="display: block;padding: 0px;position: fixed;bottom: 60px;">
    <div class="row justify-content-center">
        <div class="mt-4 mb-5">
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6">
                  <ngx-slider [(value)]="visibleSelection" [options]="visibleBarOptions"></ngx-slider>
                </div>
                <div class="col-lg-3">
                </div>
            </div><!-- end row-->
        </div>
    </div>
</div>
<div class="col-sm-12 justify-content-end" style="display: block;padding: 0px;position: fixed;bottom: 60px;">
    <div class="row justify-content-end">
        <div class="col-4">
            <a mat-raised-button href="javascript:void(0);" (click)="changeStep(step + 1)" class="btn btn-danger w-lg waves-effect waves-light" style="margin-bottom: 10px;">Siguiente</a>   
        </div>
    </div>
</div>
