.select-variable:hover{
    background-color: #405189 !important;
    color: #fff !important;
    cursor: pointer !important;
}

.select-variable-check{
    background-color: #405189 !important;
    color: #fff !important;
    cursor: pointer !important;
}

.title-step{
    margin-bottom: 40px;
}