<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Paso 4: Conecta la normativa a tus procesos" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<!--preloader-->
<div id="preloader" style="opacity: 0px !important;background-color: #000 !important;visibility: hidden;">
    <div id="status">
      <div class="spinner-border text-primary avatar-sm" role="status">
          <span class="visually-hidden">Cargando...</span>
      </div>
    </div>
  </div>

<div class="row" *ngIf="installation_id">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-xxl-3 col-lg-3" style="padding: 10px;">
                        <h4 class="card-title mb-0">{{installation_nombre}}</h4>
                    </div>
                    
                    <div class="col-xxl-3 col-lg-3">
                        <div class="titulo-caja"><b>{{total_cuerpos > 0 ? total_cuerpos : 0}} {{total_cuerpos == 1 ? 'Cuerpo legal' : 'Cuerpos legales'}} </b></div>
                    </div>

                    <div class="col-xxl-3 col-lg-3">
                        <div class="titulo-caja"><b>{{total_articulos > 0 ? total_articulos : 0}} {{total_articulos == 1 ? 'Artículo' : 'Artículos'}}</b></div>
                    </div>

                    <div class="col-xxl-3 col-lg-3">
                        <div class="search-box">
                            <input type="text" class="form-control bg-light border-light" placeholder="Buscar...">
                            <i class="ri-search-2-line search-icon"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
<div class="col-xl-12">
    <div class="card">
        <div class="card-header">
            <span class="float-end text-secondary" style="cursor: pointer;" (click)="clickDetail()">
                <span class="hamburger-icon">
                <span></span>
                <span></span>
                <span></span>
                </span>
            </span>
            <h6 class="card-title" style="color: #405189;">{{detail.identificador ? (detail.identificador.tipoNorma ? detail.identificador.tipoNorma+' '+detail.identificador.numero : '') : ''}} {{detail.tituloNorma ? detail.tituloNorma : ''}}</h6>
            
            <ng-container *ngFor="let org of detail.organismos">
                <p class="card-subtitle text-muted mb-0">{{org}}</p>
            </ng-container>
        </div>
        <div class="card-body" *ngIf="showDetail">
            <div class="row">
                <div class="col-xxl-12 col-lg-12">
                    <p style="color: #405189;"><b>DESCRIPCIÓN</b></p>
                    <div [innerHTML]="htmlString"></div>
                </div>
                <div class="col-xxl-12 col-lg-12">
                    <div class="row justify-content-center">
                        <!--<p><b>Características</b></p>-->
                        <div class="col-xxl-3 col-lg-3">
                            <div style="font-size: 14px;">PUBLICADO:</div> <h5>{{detail.dates ? detail.dates.fechaPublicacionNorma : ''}}</h5>
                        </div>
                        <div class="col-xxl-3 col-lg-3">
                        <div style="font-size: 14px;">ENTRADA EN VIGENCIA:</div><h5> {{detail.dates ? detail.dates.fechaPublicacionNorma : ''}}</h5>
                        </div>
                        <div class="col-xxl-3 col-lg-3">
                        <div style="font-size: 14px;">ÚLTIMA MODIFICACIÓN: </div><h5>{{detail.dates ? detail.dates.fechaPublicacionNorma : ''}}</h5>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xxl-3 col-lg-3">
                        <div style="font-size: 14px;">VIGENCIA:</div>
                        </div>
                        <div class="col-xxl-3 col-lg-3">
                        <div style="font-size: 14px;">ÁMBITO:</div>
                        </div>
                        <div class="col-xxl-3 col-lg-3">
                        <div style="font-size: 14px;">ALCANCE TERRITORIAL:</div><!--
                        <p>Cuerpos legales relacionados:</p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="row" *ngIf="!installation_id">
    <div class="col-12">
<div class="col-xl-12">
    <div class="card">
        <div class="card-header">
            <h6 class="card-title">Conexión</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-xxl-12 col-lg-12">
                    <p><b>Instalación o proceso</b></p>
                    <select class="form-select" placeholder="Selecciona instalación o proceso" data-choices data-choices-search-false
                                id="choices-priority-input" (change)="selectInstallation($event)">
                                <option value="">Selecciona instalación o proceso</option>
                                <option *ngFor="let r of installations;" value="{{r.id}}">{{r.nombre}}</option>
                    </select>
                </div>

                <ng-container *ngFor="let item of items;let i = index;">

                    <div class="col-xxl-12 col-lg-12">
                        <p><b>Seleccione Sub-Instalación o Sub-proceso</b></p>
                        <select class="form-select" placeholder="Seleccione Sub-Instalación o Sub-proceso" data-choices data-choices-search-false
                                    id="choices-priority-input" [value]="item.value" (change)="selectInstallationChildren($event, i)">
                                    <option value="">Seleccione Sub-Instalación o Sub-proceso</option>
                                    <option *ngFor="let o of item.options;" value="{{o.id}}">{{o.nombre}}</option>
                        </select>
                    </div>

                </ng-container>
                
                <div class="col-xxl-12 col-lg-12" style="margin: 20px !important;">
                    <button class="btn btn-success createFile-modal float-end text-secondary" style="color: #fff !important;" (click)="saveInstallation()" [disabled]="installation_id_select.length < 1"> Conectar</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="chat-wrapper d-lg-flex gap-1 mx-n4 mt-n4 p-1" *ngIf="installation_id">
    <div class="file-manager-sidebar" [ngClass]="showMenu ? 'showMenu' : 'hideMenu'">
        <div class="p-3 d-flex flex-column h-100">
            <div class="d-flex align-items-center pb-3 border-bottom border-bottom-dashed">
                <h5 class="flex-grow-1 fw-semibold mb-0">Contenido</h5>
                <div>
                    <button type="button" class="btn btn-icon btn-sm fs-16 close-btn-overview" style="cursor: pointer;" (click)="clickMenu()">
                        <span class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    </button>
                </div>
            </div>
            
            <!--<div class="search-box">
                <input type="text" class="form-control bg-light border-light" placeholder="Search here...">
                <i class="ri-search-2-line search-icon"></i>
            </div>-->
            <ngx-simplebar class="mt-3 mx-n4 px-4 file-menu-sidebar-scroll" *ngIf="showMenu">
                <!-- Menu --->
                <ul class="list-unstyled file-manager-menu">
                    <li>
                        <a href="javascript:void(0);" (click)="changeProducts($event, 'r-Encabezado', null)">
                            <i class="ri-file-list-2-line align-bottom me-2"></i> <span class="file-list-link">Encabezado</span>
                        </a>
                    </li>
                    <li *ngFor="let est of detail.EstructurasFuncionales; let i = index;">
                        <ng-container [ngTemplateOutlet]="myMenu" 
                            [ngTemplateOutletContext] ="{est:est, i: i, nivel: 1}">
                        </ng-container>
                        <!-- Si posee items nivel 1--> 
                        <!--<a data-bs-toggle="collapse" href="javascript:void(0);" (click)="changeProducts($event, 'r-'+est.idParte, i, 1)" role="button" aria-expanded="true"
                        aria-controls="collapseExample"
                        [attr.aria-expanded]="isCollapsed == 'r-'+est.idParte" *ngIf="est.EstructurasFuncionales"><i
                                class="ri-file-list-2-line align-bottom me-2"></i> <span
                                class="file-list-link">{{ est.tituloParte ? est.tituloParte : (est.texto ? (est.texto.split(".")[0].length > 10 ? est.texto.split(".")[0] : est.tipoParte) : est.tipoParte) }}</span>
                        </a>
                        -->
                        
                        <!-- Si no posee items nivel 1-->
                        <!--<a href="javascript:void(0);" (click)="changeProducts($event, 'r-'+est.idParte, i)" *ngIf="!est.EstructurasFuncionales">
                            <i class="ri-file-list-2-line align-bottom me-2"></i> <span class="file-list-link">{{est.tituloParte ? est.tituloParte : (est.texto ? (est.texto.split(".")[0].length > 10 ? est.texto.split(".")[0] : est.tipoParte) : est.tipoParte) }}</span>
                        </a>-->
                        
                        <!-- Fin nivel 1-->
                    </li>
                </ul>
            </ngx-simplebar>
            
            <!--Template del menu-->
            <ng-template #myMenu let-est="est" let-i="i" let-nivel="nivel">
                <a data-bs-toggle="collapse" href="javascript:void(0);" (click)="changeProducts($event, 'r-'+est.idParte, i, nivel)" role="button" aria-expanded="true"
                aria-controls="collapseExample"
                [attr.aria-expanded]="isExpanded(est.idParte, nivel)" *ngIf="est.EstructurasFuncionales"><i
                        class="ri-file-list-2-line align-bottom me-2"></i> <span
                        class="file-list-link">{{ est.tituloParte ? est.tituloParte : (est.nombreParte ? est.tipoParte+' '+est.nombreParte : est.tipoParte) }}</span>
                </a>

                <div class="collapse show" id="collapseExample" #collapse="ngbCollapse"
                [ngbCollapse]="!isExpanded(est.idParte, nivel)" *ngIf="est.EstructurasFuncionales">
                <ul class="sub-menu list-unstyled">
                    <li *ngFor="let est2 of est.EstructurasFuncionales; let i2 = index;">

                        <ng-container [ngTemplateOutlet]="myMenu" 
                            [ngTemplateOutletContext] ="{est:est2, i: i2, nivel: nivel + 1}">
                        </ng-container>

                        <!-- Si no posee items nivel 2-->
                        <!--<a href="javascript:void(0);" (click)="changeProducts($event, 'r-'+est2.idParte, i)" *ngIf="!est2.EstructurasFuncionales">
                            <i class="ri-file-list-2-line align-bottom me-2"></i> <span class="file-list-link">{{est2.tituloParte ? est2.tituloParte : (est2.texto ? (est2.texto.split(".")[0].length > 10 ? est2.texto.split(".")[0] : est2.tipoParte) : est2.tipoParte) }}</span>
                        </a>-->
                        
                        <!-- Fin nivel 2-->
                        
                    </li>
                </ul>
            </div>

            <a href="javascript:void(0);" (click)="changeProducts($event, 'r-'+est.idParte, i)" *ngIf="!est.EstructurasFuncionales">
                <i class="ri-file-list-2-line align-bottom me-2"></i> <span class="file-list-link">{{est.tituloParte ? est.tituloParte : (est.texto ? (est.nombreParte ? est.tipoParte+' '+est.nombreParte : est.tipoParte) : est.tipoParte) }}</span>
            </a>
            </ng-template>

            <!--Fin template menu-->
        </div>
    </div>
    <div class="file-manager-content w-100 p-3 py-0">
        
        <div class="p-3 d-flex flex-column h-100">
            <div class="d-flex align-items-center pb-3 border-bottom border-bottom-dashed">
                <h5 class="flex-grow-1 fw-semibold mb-0">Encabezado</h5>
                <div>
                    <button type="button" class="btn btn-icon btn-sm fs-16 close-btn-overview" style="cursor: pointer;" (click)="clickEncabezado()">
                        <span class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    </button>
                </div>
            </div>
        <ngx-simplebar class="mx-n3 pt-4 px-4 file-manager-content-scroll">
                <div class="col-xxl-12" id="r-Encabezado" *ngIf="showEncabezado">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-12">
                                <div class="card-body">                    
                                    <div [innerHTML]="htmlString"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
        <!--Template Articulos-->
        <ng-template #myArticles let-data="data">
            <div class="col-xxl-12" id="r-{{data.idParte}}" *ngIf="!data.EstructurasFuncionales">
                <div class="card"><!-- border card-border-primary style="border-radius: 24px !important;"-->
                    <div class="row g-0">
                        <div class="col-md-10">
                            <div class="card-body">
                                
                                <h5 class="card-title mb-0">{{data.tituloParte ? data.tituloParte : (data.nombreParte ? data.tipoParte+' '+data.nombreParte : data.tipoParte) }}</h5>
                                <p class="card-text mb-2" [style]="data.texto && data.texto.length > 450 ? 'min-height: 60px;' : 'min-height: 80px;'">{{data.texto ? (data.texto.length > 450 ? formatArticle(data.texto, data.idParte) : data.texto) : data.tipoParte}}</p>
                                <p class="card-text">
                                    <small class="text-success" style="cursor: pointer;" *ngIf="data.texto && data.texto.length > 450 && !validatShow(data.idParte)" (click)="showText(data.idParte)"><b>Leer más</b></small>
                                    <small class="text-success" style="cursor: pointer;" *ngIf="data.texto && data.texto.length > 450 && validatShow(data.idParte)" (click)="hideText(data.idParte)"><b>Ocultar texto completo</b></small>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-2" style="
                        background-color: #f3f6f9;
                        border-left: 1px solid #000;
                        border-top-right-radius: 24px;
                        border-bottom-right-radius: 24px;
                        display: flex;
                        justify-content: center;
                        justify-items: center;
                        align-items: center;">
                            <button class="btn btn-success createFile-modal" data-bs-toggle="modal"
                            data-bs-target="#createFileModal" (click)="conectArticle(data.idParte, data.tituloParte, data.tipoParte, data.texto)" *ngIf="validateIdparte(data.idParte)"><!--<i
                                class="ri-add-line align-bottom me-1"></i>--> Conectar</button>
                            <span *ngIf="!validateIdparte(data.idParte)">Aplicable</span>
                        </div>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="data.EstructurasFuncionales">
              
                <div class="col-xxl-12" id="r-{{data.idParte}}">
                    
                    <div class="card"><!--border card-border-primary style="border-radius: 24px !important;background-color: #dedede;"-->
                        <div class="row g-0">
                            <div class="col-md-12">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">{{data.tituloParte ? data.tituloParte : (data.nombreParte ? data.tipoParte+' '+data.nombreParte : data.tipoParte) }}</h5>  
                                </div>
                                
                                <div class="card-body">
            
                                    <div class="col-xxl-12" *ngFor="let item of data.EstructurasFuncionales; let i3 = index;" id="r-{{item.idParte}}">
                                        
                                            <ng-container [ngTemplateOutlet]="myArticles" 
                                            [ngTemplateOutletContext] ="{data: item }">
                                            </ng-container>

                                    </div>
                
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </ng-container>
            
        </ng-template>
        
        <ng-container *ngFor="let data of articulosDatas">
            
            <ng-container [ngTemplateOutlet]="myArticles" 
            [ngTemplateOutletContext] ="{data:data }">
            </ng-container>

        </ng-container>

        </ngx-simplebar>
    </div>
    </div>
    </div>

<app-toastsp aria-live="polite" aria-atomic="true"></app-toastsp>