<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Paso 4: Conecta la normativa a tus procesos" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<!--preloader-->
<div id="preloader" style="opacity: 0px !important;background-color: #000 !important;visibility: hidden;">
    <div id="status">
      <div class="spinner-border text-primary avatar-sm" role="status">
          <span class="visually-hidden">Cargando...</span>
      </div>
    </div>
  </div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-xxl-3 col-lg-3" style="padding: 10px;">
                        <h4 class="card-title mb-0">Estanque TK2101</h4>
                    </div>
                    
                    <div class="col-xxl-3 col-lg-3">
                        <div class="titulo-caja"><b>10 Cuerpos legales</b></div>
                    </div>

                    <div class="col-xxl-3 col-lg-3">
                        <div class="titulo-caja"><b>21 Artículos</b></div>
                    </div>

                    <div class="col-xxl-3 col-lg-3">
                        <div class="search-box">
                            <input type="text" class="form-control bg-light border-light" placeholder="Buscar...">
                            <i class="ri-search-2-line search-icon"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
<div class="col-xl-12">
    <div class="card">
        <div class="card-header">
            <span class="float-end text-secondary">
                <span class="hamburger-icon">
                <span></span>
                <span></span>
                <span></span>
                </span>
            </span>
            <h6 class="card-title">{{detail.identificador ? detail.identificador.tipoNorma+' '+detail.identificador.numero : ''}} {{detail.tituloNorma ? detail.tituloNorma : ''}}</h6>
            
            <ng-container *ngFor="let org of detail.organismos">
                <p class="card-subtitle text-muted mb-0">{{org}}</p>
            </ng-container>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-xxl-6 col-lg-6">
                    <p><b>Descripción</b></p>
                    <p>{{detail.encabezado ? detail.encabezado.texto : ''}}</p>
                </div>
                <div class="col-xxl-6 col-lg-6">
                    <p><b>Características</b></p>
                    <p>Publicado: {{detail.dates ? detail.dates.fechaPublicacionNorma : ''}}</p>
                    <p>Entrada de vigencia: {{detail.dates ? detail.dates.fechaPublicacionNorma : ''}}</p>
                    <p>Última modificación: {{detail.dates ? detail.dates.fechaPublicacionNorma : ''}}</p>
                    <p>Vigencia:</p>
                    <p>Ámbito:</p>
                    <p>Alcance terriotorial:</p>
                    <p>Cuerpos legales relacionados:</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="chat-wrapper d-lg-flex gap-1 mx-n4 mt-n4 p-1">
    <div class="file-manager-sidebar">
        <div class="p-3 d-flex flex-column h-100">
            <div class="d-flex align-items-center pb-3 border-bottom border-bottom-dashed">
                <h5 class="flex-grow-1 fw-semibold mb-0">Menú</h5>
                <div>
                    <button type="button" class="btn btn-icon btn-sm fs-16 close-btn-overview">
                        <span class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    </button>
                </div>
            </div>
            
            <!--<div class="search-box">
                <input type="text" class="form-control bg-light border-light" placeholder="Search here...">
                <i class="ri-search-2-line search-icon"></i>
            </div>-->
            <ngx-simplebar class="mt-3 mx-n4 px-4 file-menu-sidebar-scroll">
                <ul class="list-unstyled file-manager-menu">
                    <li>
                        <a href="javascript:void(0);" (click)="changeProducts($event, 'r-Encabezado', null)">
                            <i class="ri-file-list-2-line align-bottom me-2"></i> <span class="file-list-link">Encabezado</span>
                        </a>
                    </li>
                    <li *ngFor="let est of detail.EstructurasFuncionales; let i = index;">
                        <a data-bs-toggle="collapse" href="javascript:void(0);" (click)="changeProducts($event, 'r-'+est.idParte, i)" role="button" aria-expanded="true"
                        aria-controls="collapseExample"
                        [attr.aria-expanded]="!isCollapsed[est.idParte]" *ngIf="est.EstructurasFuncionales"><i
                                class="ri-file-list-2-line align-bottom me-2"></i> <span
                                class="file-list-link">{{ est.tituloParte ? est.tituloParte : est.texto.split(".")[0] }}</span>
                        </a>
                        
                        <div class="collapse show" id="collapseExample" #collapse="ngbCollapse"
                            [(ngbCollapse)]="isCollapsed[est.idParte]" *ngIf="est.EstructurasFuncionales">
                            <ul class="sub-menu list-unstyled">
                                <li *ngFor="let est2 of est.EstructurasFuncionales; let i2 = index;">
                                    <a href="javascript:void(0);" (click)="changeProducts($event, 'r-'+est2.idParte, i2)">{{ est2.tituloParte ? est2.tituloParte : est2.texto.split(".")[0]}}</a>
                                </li>
                            </ul>
                        </div>

                        <a href="javascript:void(0);" (click)="changeProducts($event, 'r-'+est.idParte, i)" *ngIf="!est.EstructurasFuncionales">
                            <i class="ri-file-list-2-line align-bottom me-2"></i> <span class="file-list-link">{{est.tituloParte ? est.tituloParte : est.texto.split(".")[0]}}</span>
                        </a>
                    </li>
                </ul>
            </ngx-simplebar>
        </div>
    </div>
    <div class="file-manager-content w-100 p-3 py-0">
        <ngx-simplebar class="mx-n3 pt-4 px-4 file-manager-content-scroll">
            <div>

                <div class="col-xxl-12" id="r-Encabezado"><!--*ngIf="showEncabezado"-->
                    <div class="card border card-border-primary" style="border-radius: 24px !important;">
                        <div class="row g-0">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <h5 class="card-title mb-0">{{detail.encabezado ? detail.encabezado.texto : ''}}</h5>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        <ng-container *ngFor="let data of articulosDatas">
            
            <div class="col-xxl-12" id="r-{{data.idParte}}" *ngIf="!data.EstructurasFuncionales">
                <div class="card border card-border-primary" style="border-radius: 24px !important;">
                    <div class="row g-0">
                        <div class="col-md-10">
                            <div class="card-body">
                                
                                <h5 class="card-title mb-0">{{data.tituloParte ? data.tituloParte : data.texto.split(".")[0]}}</h5>
                                <p class="card-text mb-2">{{data.texto}}</p>
                                <p class="card-text"><small class="text-danger"><b>Ver texto completo</b></small></p>
                            </div>
                        </div>
                        <div class="col-md-2" style="
                        background-color: #f3f6f9;
                        border-left: 1px solid #000;
                        border-top-right-radius: 24px;
                        border-bottom-right-radius: 24px;
                        display: flex;
                        justify-content: center;
                        justify-items: center;
                        align-items: center;">
                            <button class="btn btn-success createFile-modal" data-bs-toggle="modal"
                            data-bs-target="#createFileModal"><!--<i
                                class="ri-add-line align-bottom me-1"></i>--> Conectar</button>
                        </div>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="data.EstructurasFuncionales">
              
                <div class="col-xxl-12" id="r-{{data.idParte}}">
                    <div class="card border card-border-primary" style="border-radius: 24px !important;">
                        <div class="row g-0">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <h5 class="card-title mb-0">{{data.tituloParte ? data.tituloParte : data.texto.split(".")[0]}}</h5>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            <div class="col-xxl-12" *ngFor="let item of data.EstructurasFuncionales; let i3 = index;" id="r-{{item.idParte}}">
            <div class="card border card-border-primary" style="border-radius: 24px !important;">
                <div class="row g-0">
                    <div class="col-md-10">
                        <div class="card-body">
                            
                            <h5 class="card-title mb-0">{{item.tituloParte ? item.tituloParte : item.texto.split(".")[0]}}</h5>
                            <p class="card-text mb-2">{{item.texto}}</p>
                            <p class="card-text"><small class="text-danger"><b>Ver texto completo</b></small></p>
                        </div>
                    </div>
                    <div class="col-md-2" style="
                    background-color: #f3f6f9;
                    border-left: 1px solid #000;
                    border-top-right-radius: 24px;
                    border-bottom-right-radius: 24px;
                    display: flex;
                    justify-content: center;
                    justify-items: center;
                    align-items: center;">
                        <button class="btn btn-success createFile-modal" data-bs-toggle="modal"
                        data-bs-target="#createFileModal"><!--<i
                            class="ri-add-line align-bottom me-1"></i>--> Conectar</button>
                    </div>
                </div>
            </div><!-- end card -->
            </div><!-- end col -->
            </ng-container>
        </ng-container>

            </div>
        </ngx-simplebar>
    </div>
    </div>

<app-toastsp aria-live="polite" aria-atomic="true"></app-toastsp>