<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Paso 4: Conecta la normativa a tus procesos" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<!--preloader-->
<div id="preloader" style="opacity: 0px !important;background-color: #000 !important;visibility: hidden;">
    <div id="status">
      <div class="spinner-border text-primary avatar-sm" role="status">
          <span class="visually-hidden">Cargando...</span>
      </div>
    </div>
  </div>

<div class="row" *ngIf="installation_id">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-xxl-3 col-lg-3" style="padding: 10px;">
                        <h4 class="card-title mb-0">{{installation_nombre}}</h4>
                    </div>
                    
                    <div class="col-xxl-3 col-lg-3">
                        <div class="titulo-caja"><b>{{total_cuerpos > 0 ? total_cuerpos : 0}} {{total_cuerpos == 1 ? 'Cuerpo legal' : 'Cuerpos legales'}} </b></div>
                    </div>

                    <div class="col-xxl-3 col-lg-3">
                        <div class="titulo-caja"><b>{{total_articulos > 0 ? total_articulos : 0}} {{total_articulos == 1 ? 'Artículo' : 'Artículos'}}</b></div>
                    </div>

                    <div class="col-xxl-3 col-lg-3">
                        <div class="search-box">
                            <input type="text" class="form-control bg-light border-light" placeholder="Buscar...">
                            <i class="ri-search-2-line search-icon"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
<div class="col-xl-12">
    <div class="card">
        <div class="card-header">
            <span class="float-end text-secondary" style="cursor: pointer;" (click)="clickDetail()">
                <span class="hamburger-icon">
                <span></span>
                <span></span>
                <span></span>
                </span>
            </span>
            <h6 class="card-title">{{detail.identificador ? detail.identificador.tipoNorma+' '+detail.identificador.numero : ''}} {{detail.tituloNorma ? detail.tituloNorma : ''}}</h6>
            
            <ng-container *ngFor="let org of detail.organismos">
                <p class="card-subtitle text-muted mb-0">{{org}}</p>
            </ng-container>
        </div>
        <div class="card-body" *ngIf="showDetail">
            <div class="row">
                <div class="col-xxl-6 col-lg-6">
                    <p><b>Descripción</b></p>
                    <div [innerHTML]="htmlString"></div>
                </div>
                <div class="col-xxl-6 col-lg-6">
                    <p><b>Características</b></p>
                    <p>Publicado: {{detail.dates ? detail.dates.fechaPublicacionNorma : ''}}</p>
                    <p>Entrada de vigencia: {{detail.dates ? detail.dates.fechaPublicacionNorma : ''}}</p>
                    <p>Última modificación: {{detail.dates ? detail.dates.fechaPublicacionNorma : ''}}</p>
                    <p>Vigencia:</p>
                    <p>Ámbito:</p>
                    <p>Alcance territorial:</p>
                    <p>Cuerpos legales relacionados:</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="row" *ngIf="!installation_id">
    <div class="col-12">
<div class="col-xl-12">
    <div class="card">
        <div class="card-header">
            <h6 class="card-title">Conexión</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-xxl-12 col-lg-12">
                    <p><b>Instalación o proceso</b></p>
                    <select class="form-select" placeholder="Selecciona instalación o proceso" data-choices data-choices-search-false
                                id="choices-priority-input" (change)="selectInstallation($event)">
                                <option value="">Selecciona instalación o proceso</option>
                                <option *ngFor="let r of installations;" value="{{r.id}}">{{r.nombre}}</option>
                    </select>
                </div>

                <ng-container *ngFor="let item of items;let i = index;">

                    <div class="col-xxl-12 col-lg-12">
                        <p><b>Seleccione Sub-Instalación o Sub-proceso</b></p>
                        <select class="form-select" placeholder="Seleccione Sub-Instalación o Sub-proceso" data-choices data-choices-search-false
                                    id="choices-priority-input" [value]="item.value" (change)="selectInstallationChildren($event, i)">
                                    <option value="">Seleccione Sub-Instalación o Sub-proceso</option>
                                    <option *ngFor="let o of item.options;" value="{{o.id}}">{{o.nombre}}</option>
                        </select>
                    </div>

                </ng-container>
                
                <div class="col-xxl-12 col-lg-12" style="margin: 20px !important;">
                    <button class="btn btn-success createFile-modal float-end text-secondary" style="color: #fff !important;" (click)="saveInstallation()" [disabled]="installation_id_select.length < 1"> Conectar</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="chat-wrapper d-lg-flex gap-1 mx-n4 mt-n4 p-1" *ngIf="installation_id">
    <div class="file-manager-sidebar" [ngClass]="showMenu ? 'showMenu' : 'hideMenu'">
        <div class="p-3 d-flex flex-column h-100">
            <div class="d-flex align-items-center pb-3 border-bottom border-bottom-dashed">
                <h5 class="flex-grow-1 fw-semibold mb-0">Menú</h5>
                <div>
                    <button type="button" class="btn btn-icon btn-sm fs-16 close-btn-overview" style="cursor: pointer;" (click)="clickMenu()">
                        <span class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    </button>
                </div>
            </div>
            
            <!--<div class="search-box">
                <input type="text" class="form-control bg-light border-light" placeholder="Search here...">
                <i class="ri-search-2-line search-icon"></i>
            </div>-->
            <ngx-simplebar class="mt-3 mx-n4 px-4 file-menu-sidebar-scroll"  *ngIf="showMenu">
                <!-- Menu --->
                <ul class="list-unstyled file-manager-menu">
                    <li>
                        <a href="javascript:void(0);" (click)="changeProducts($event, 'r-Encabezado', null)">
                            <i class="ri-file-list-2-line align-bottom me-2"></i> <span class="file-list-link">Encabezado</span>
                        </a>
                    </li>
                    <li *ngFor="let est of detail.EstructurasFuncionales; let i = index;">
                        <!-- Si posee items nivel 1--> 
                        <a data-bs-toggle="collapse" href="javascript:void(0);" (click)="changeProducts($event, 'r-'+est.idParte, i, 1)" role="button" aria-expanded="true"
                        aria-controls="collapseExample"
                        [attr.aria-expanded]="isCollapsed == 'r-'+est.idParte" *ngIf="est.EstructurasFuncionales"><i
                                class="ri-file-list-2-line align-bottom me-2"></i> <span
                                class="file-list-link">{{ est.tituloParte ? est.tituloParte : (est.texto ? (est.texto.split(".")[0].length > 10 ? est.texto.split(".")[0] : est.tipoParte) : est.tipoParte) }} - JJ</span>
                        </a>
                        
                        <div class="collapse show" id="collapseExample" #collapse="ngbCollapse"
                            [(ngbCollapse)]="isCollapsed != 'r-'+est.idParte" *ngIf="est.EstructurasFuncionales">
                            <ul class="sub-menu list-unstyled">
                                <li *ngFor="let est2 of est.EstructurasFuncionales; let i2 = index;">
                                    <!--<a href="javascript:void(0);" (click)="changeProducts($event, 'r-'+est2.idParte, i2)">{{ est2.tituloParte ? est2.tituloParte : (est2.texto ? (est2.texto.split(".")[0].length > 10 ? est2.texto.split(".")[0] : est2.tipoParte) : est2.tipoParte) }}</a>-->

                                    <!-- Si posee items nivel 2--> 
                                    <a data-bs-toggle="collapse" href="javascript:void(0);" (click)="changeProducts($event, 'r-'+est2.idParte, i2, 2)" role="button" aria-expanded="true"
                                    aria-controls="collapseExample"
                                    [attr.aria-expanded]="isCollapsed2 == 'r-'+est2.idParte" *ngIf="est2.EstructurasFuncionales"><i
                                            class="ri-file-list-2-line align-bottom me-2"></i> <span
                                            class="file-list-link">{{ est2.tituloParte ? est2.tituloParte : (est2.texto ? (est2.texto.split(".")[0].length > 10 ? est2.texto.split(".")[0] : est2.tipoParte) : est2.tipoParte) }}</span>
                                    </a>
                                    
                                    <div class="collapse show" id="collapseExample" #collapse="ngbCollapse"
                                        [(ngbCollapse)]="isCollapsed2 != 'r-'+est2.idParte" *ngIf="est2.EstructurasFuncionales">
                                        <ul class="sub-menu list-unstyled">
                                            <li *ngFor="let est3 of est2.EstructurasFuncionales; let i3 = index;">
                                                <!--<a href="javascript:void(0);" (click)="changeProducts($event, 'r-'+est3.idParte, i3)">{{ est3.tituloParte ? est3.tituloParte : (est3.texto ? (est3.texto.split(".")[0].length > 10 ? est3.texto.split(".")[0] : est3.tipoParte) : est3.tipoParte) }}</a>-->
                                                
                                                <!-- Si posee items nivel 3--> 
                                                <a data-bs-toggle="collapse" href="javascript:void(0);" (click)="changeProducts($event, 'r-'+est3.idParte, i3, 3)" role="button" aria-expanded="true"
                                                aria-controls="collapseExample"
                                                [attr.aria-expanded]="isCollapsed3 == 'r-'+est3.idParte" *ngIf="est3.EstructurasFuncionales"><i
                                                        class="ri-file-list-2-line align-bottom me-2"></i> <span
                                                        class="file-list-link">{{ est3.tituloParte ? est3.tituloParte : (est3.texto ? (est3.texto.split(".")[0].length > 10 ? est3.texto.split(".")[0] : est3.tipoParte) : est3.tipoParte) }}</span>
                                                </a>
                                                
                                                <div class="collapse show" id="collapseExample" #collapse="ngbCollapse"
                                                    [(ngbCollapse)]="isCollapsed3 != 'r-'+est3.idParte" *ngIf="est3.EstructurasFuncionales">
                                                    <ul class="sub-menu list-unstyled">
                                                        <li *ngFor="let est4 of est3.EstructurasFuncionales; let i4 = index;">
                                                            <!--<a href="javascript:void(0);" (click)="changeProducts($event, 'r-'+est4.idParte, i4)">{{ est4.tituloParte ? est4.tituloParte : (est4.texto ? (est4.texto.split(".")[0].length > 10 ? est4.texto.split(".")[0] : est4.tipoParte) : est4.tipoParte) }}</a>-->

                                                            <!-- Si posee items nivel 4--> 
                                                            <a data-bs-toggle="collapse" href="javascript:void(0);" (click)="changeProducts($event, 'r-'+est4.idParte, i4, 4)" role="button" aria-expanded="true"
                                                            aria-controls="collapseExample"
                                                            [attr.aria-expanded]="isCollapsed4 == 'r-'+est4.idParte" *ngIf="est4.EstructurasFuncionales"><i
                                                                    class="ri-file-list-2-line align-bottom me-2"></i> <span
                                                                    class="file-list-link">{{ est4.tituloParte ? est4.tituloParte : (est4.texto ? (est4.texto.split(".")[0].length > 10 ? est4.texto.split(".")[0] : est4.tipoParte) : est4.tipoParte) }}</span>
                                                            </a>
                                                            
                                                            <div class="collapse show" id="collapseExample" #collapse="ngbCollapse"
                                                                [(ngbCollapse)]="isCollapsed4 != 'r-'+est4.idParte" *ngIf="est4.EstructurasFuncionales">
                                                                <ul class="sub-menu list-unstyled">
                                                                    <li *ngFor="let est5 of est4.EstructurasFuncionales; let i5 = index;">
                                                                        <a href="javascript:void(0);" (click)="changeProducts($event, 'r-'+est5.idParte, i5)">{{ est5.tituloParte ? est5.tituloParte : (est5.texto ? (est5.texto.split(".")[0].length > 10 ? est5.texto.split(".")[0] : est5.tipoParte) : est5.tipoParte) }}</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <!-- Si no posee items nivel 4-->
                                                            <a href="javascript:void(0);" (click)="changeProducts($event, 'r-'+est4.idParte, i)" *ngIf="!est4.EstructurasFuncionales">
                                                                <i class="ri-file-list-2-line align-bottom me-2"></i> <span class="file-list-link">{{est4.tituloParte ? est4.tituloParte : (est4.texto ? (est4.texto.split(".")[0].length > 10 ? est4.texto.split(".")[0] : est4.tipoParte) : est4.tipoParte) }}</span>
                                                            </a>
                                                            
                                                            <!-- Fin nivel 4-->
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!-- Si no posee items nivel 3-->
                                                <a href="javascript:void(0);" (click)="changeProducts($event, 'r-'+est3.idParte, i)" *ngIf="!est3.EstructurasFuncionales">
                                                    <i class="ri-file-list-2-line align-bottom me-2"></i> <span class="file-list-link">{{est3.tituloParte ? est3.tituloParte : (est3.texto ? (est3.texto.split(".")[0].length > 10 ? est3.texto.split(".")[0] : est3.tipoParte) : est3.tipoParte) }}</span>
                                                </a>
                                                
                                                <!-- Fin nivel 3-->
                                                
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Si no posee items nivel 2-->
                                    <a href="javascript:void(0);" (click)="changeProducts($event, 'r-'+est2.idParte, i)" *ngIf="!est2.EstructurasFuncionales">
                                        <i class="ri-file-list-2-line align-bottom me-2"></i> <span class="file-list-link">{{est2.tituloParte ? est2.tituloParte : (est2.texto ? (est2.texto.split(".")[0].length > 10 ? est2.texto.split(".")[0] : est2.tipoParte) : est2.tipoParte) }}</span>
                                    </a>
                                    
                                    <!-- Fin nivel 2-->
                                    
                                </li>
                            </ul>
                        </div>
                        <!-- Si no posee items nivel 1-->
                        <a href="javascript:void(0);" (click)="changeProducts($event, 'r-'+est.idParte, i)" *ngIf="!est.EstructurasFuncionales">
                            <i class="ri-file-list-2-line align-bottom me-2"></i> <span class="file-list-link">{{est.tituloParte ? est.tituloParte : (est.texto ? (est.texto.split(".")[0].length > 10 ? est.texto.split(".")[0] : est.tipoParte) : est.tipoParte) }}</span>
                        </a>
                        
                        <!-- Fin nivel 1-->
                    </li>
                </ul>
            </ngx-simplebar>
        </div>
    </div>
    <div class="file-manager-content w-100 p-3 py-0">
        <ngx-simplebar class="mx-n3 pt-4 px-4 file-manager-content-scroll">
            <div>

                <div class="col-xxl-12" id="r-Encabezado"><!--*ngIf="showEncabezado"-->
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-12">
                                <div class="card-body">                    
                                    <div [innerHTML]="htmlString"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        <ng-container *ngFor="let data of articulosDatas">
            
            <div class="col-xxl-12" id="r-{{data.idParte}}" *ngIf="!data.EstructurasFuncionales">
                <div class="card border card-border-primary" style="border-radius: 24px !important;">
                    <div class="row g-0">
                        <div class="col-md-10">
                            <div class="card-body">
                                
                                <h5 class="card-title mb-0">{{data.tituloParte ? data.tituloParte : (data.texto ? (data.texto.split(".")[0].length > 10 ? data.texto.split(".")[0] : data.tipoParte) : data.tipoParte) }}</h5>
                                <p class="card-text mb-2" [style]="data.texto && data.texto.length > 450 ? 'min-height: 60px;' : 'min-height: 80px;'">{{data.texto ? (data.texto.length > 450 ? formatArticle(data.texto, data.idParte) : data.texto) : data.tipoParte}}</p>
                                <p class="card-text">
                                    <small class="text-danger" style="cursor: pointer;" *ngIf="data.texto && data.texto.length > 450 && !validatShow(data.idParte)" (click)="showText(data.idParte)"><b>Ver texto completo</b></small>
                                    <small class="text-danger" style="cursor: pointer;" *ngIf="data.texto && data.texto.length > 450 && validatShow(data.idParte)" (click)="hideText(data.idParte)"><b>Ocultar texto completo</b></small>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-2" style="
                        background-color: #f3f6f9;
                        border-left: 1px solid #000;
                        border-top-right-radius: 24px;
                        border-bottom-right-radius: 24px;
                        display: flex;
                        justify-content: center;
                        justify-items: center;
                        align-items: center;">
                            <button class="btn btn-success createFile-modal" data-bs-toggle="modal"
                            data-bs-target="#createFileModal" (click)="conectArticle(data.idParte, data.tituloParte, data.tipoParte, data.texto)" *ngIf="validateIdparte(data.idParte)"><!--<i
                                class="ri-add-line align-bottom me-1"></i>--> Conectar</button>
                            <span *ngIf="!validateIdparte(data.idParte)">Aplicable</span>
                        </div>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="data.EstructurasFuncionales">
              
                <div class="col-xxl-12" id="r-{{data.idParte}}">
                    <div class="card border card-border-primary" style="border-radius: 24px !important;background-color: #dedede;">
                        <div class="row g-0">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <h5 class="card-title mb-0">{{data.tituloParte ? data.tituloParte : (data.texto ? (data.texto.split(".")[0].length > 10 ? data.texto.split(".")[0] : data.tipoParte) : data.tipoParte) }}</h5>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            <div class="col-xxl-12" *ngFor="let item of data.EstructurasFuncionales; let i3 = index;" id="r-{{item.idParte}}">
            <!--<div class="card border card-border-primary" style="border-radius: 24px !important;min-height: 140px;">
                <div class="row g-0">
                    <div class="col-md-10">
                        <div class="card-body">
                            
                            <h5 class="card-title mb-0">{{item.tituloParte ? item.tituloParte : (item.texto ? (item.texto.split(".")[0].length > 10 ? item.texto.split(".")[0] : item.tipoParte) : item.tipoParte) }}</h5>
                            <p class="card-text mb-2" [style]="item.texto && item.texto.length > 450 ? 'min-height: 60px;' : 'min-height: 80px;'">{{item.texto ? (item.texto.length > 450 ? formatArticle(item.texto, item.idParte) : item.texto) : item.tipoParte}}</p>
                            <p class="card-text">
                                <small class="text-danger" style="cursor: pointer;" *ngIf="item.texto && item.texto.length > 450 && !validatShow(item.idParte)" (click)="showText(item.idParte)"><b>Ver texto completo</b></small>
                                <small class="text-danger" style="cursor: pointer;" *ngIf="item.texto && item.texto.length > 450 && validatShow(item.idParte)" (click)="hideText(item.idParte)"><b>Ocultar texto completo</b></small>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2" style="
                    background-color: #f3f6f9;
                    border-left: 1px solid #000;
                    border-top-right-radius: 24px;
                    border-bottom-right-radius: 24px;
                    display: flex;
                    justify-content: center;
                    justify-items: center;
                    align-items: center;">
                        <button class="btn btn-success createFile-modal" data-bs-toggle="modal"
                        data-bs-target="#createFileModal" (click)="conectArticle(item.idParte)" *ngIf="validateIdparte(item.idParte)">Conectar</button>
                            <span *ngIf="!validateIdparte(item.idParte)">Aplicable</span>
                    </div>
                </div>
                -->

                <!--Inicio nivel 2-->
                    <div class="col-xxl-12" id="r-{{item.idParte}}" *ngIf="!item.EstructurasFuncionales">
                        <div class="card border card-border-primary" style="border-radius: 24px !important;background-color: #dedede;">
                            <div class="row g-0">
                                <div class="col-md-10">
                                    <div class="card-body">
                                        
                                        <h5 class="card-title mb-0">{{item.tituloParte ? item.tituloParte : (item.texto ? (item.texto.split(".")[0].length > 10 ? item.texto.split(".")[0] : item.tipoParte) : item.tipoParte) }}</h5>
                                        <p class="card-text mb-2" [style]="item.texto && item.texto.length > 450 ? 'min-height: 60px;' : 'min-height: 80px;'">{{item.texto ? (item.texto.length > 450 ? formatArticle(item.texto, item.idParte) : item.texto) : item.tipoParte}}</p>
                                        <p class="card-text">
                                            <small class="text-danger" style="cursor: pointer;" *ngIf="item.texto && item.texto.length > 450 && !validatShow(item.idParte)" (click)="showText(item.idParte)"><b>Ver texto completo</b></small>
                                            <small class="text-danger" style="cursor: pointer;" *ngIf="item.texto && item.texto.length > 450 && validatShow(item.idParte)" (click)="hideText(item.idParte)"><b>Ocultar texto completo</b></small>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-2" style="
                                background-color: #f3f6f9;
                                border-left: 1px solid #000;
                                border-top-right-radius: 24px;
                                border-bottom-right-radius: 24px;
                                display: flex;
                                justify-content: center;
                                justify-items: center;
                                align-items: center;">
                                    <button class="btn btn-success createFile-modal" data-bs-toggle="modal"
                                    data-bs-target="#createFileModal" (click)="conectArticle(item.idParte, item.tituloParte, item.tipoParte, item.texto)" *ngIf="validateIdparte(item.idParte)"><!--<i
                                        class="ri-add-line align-bottom me-1"></i>--> Conectar</button>
                                    <span *ngIf="!validateIdparte(item.idParte)">Aplicable</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <ng-container *ngIf="item.EstructurasFuncionales">
                    
                        <div class="col-xxl-12" id="r-{{item.idParte}}">
                            <div class="card border card-border-primary" style="border-radius: 24px !important;background-color: #dedede;">
                                <div class="row g-0">
                                    <div class="col-md-12">
                                        <div class="card-body">
                                            <h5 class="card-title mb-0">{{item.tituloParte ? item.tituloParte : (item.texto ? (item.texto.split(".")[0].length > 10 ? item.texto.split(".")[0] : item.tipoParte) : item.tipoParte) }}</h5>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    <div class="col-xxl-12" *ngFor="let item2 of item.EstructurasFuncionales; let i4 = index;" id="r-{{item2.idParte}}">
                        <!--<div class="card border card-border-primary" style="border-radius: 24px !important;min-height: 140px;">
                        <div class="row g-0">
                            <div class="col-md-10">
                                <div class="card-body">
                                    
                                    <h5 class="card-title mb-0">{{item2.tituloParte ? item2.tituloParte : (item2.texto ? (item2.texto.split(".")[0].length > 10 ? item2.texto.split(".")[0] : item2.tipoParte) : item2.tipoParte) }}</h5>
                                    <p class="card-text mb-2" [style]="item2.texto && item2.texto.length > 450 ? 'min-height: 60px;' : 'min-height: 80px;'">{{item2.texto ? (item2.texto.length > 450 ? formatArticle(item2.texto, item2.idParte) : item2.texto) : item2.tipoParte}}</p>
                                    <p class="card-text">
                                        <small class="text-danger" style="cursor: pointer;" *ngIf="item2.texto && item2.texto.length > 450 && !validatShow(item2.idParte)" (click)="showText(item2.idParte)"><b>Ver texto completo</b></small>
                                        <small class="text-danger" style="cursor: pointer;" *ngIf="item2.texto && item2.texto.length > 450 && validatShow(item2.idParte)" (click)="hideText(item2.idParte)"><b>Ocultar texto completo</b></small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-2" style="
                            background-color: #f3f6f9;
                            border-left: 1px solid #000;
                            border-top-right-radius: 24px;
                            border-bottom-right-radius: 24px;
                            display: flex;
                            justify-content: center;
                            justify-items: center;
                            align-items: center;">
                                <button class="btn btn-success createFile-modal" data-bs-toggle="modal"
                                data-bs-target="#createFileModal" (click)="conectArticle(item2.idParte)" *ngIf="validateIdparte(item2.idParte)">Conectar</button>
                                    <span *ngIf="!validateIdparte(item2.idParte)">Aplicable</span>
                            </div>
                        </div>
                    </div>-->
                                    <!--Inicio nivel 3-->
                                    <div class="col-xxl-12" id="r-{{item2.idParte}}" *ngIf="!item2.EstructurasFuncionales">
                                        <div class="card border card-border-primary" style="border-radius: 24px !important;">
                                            <div class="row g-0">
                                                <div class="col-md-10">
                                                    <div class="card-body">
                                                        
                                                        <h5 class="card-title mb-0">{{item2.tituloParte ? item2.tituloParte : (item2.texto ? (item2.texto.split(".")[0].length > 10 ? item2.texto.split(".")[0] : item2.tipoParte) : item2.tipoParte) }}</h5>
                                                        <p class="card-text mb-2" [style]="item2.texto && item2.texto.length > 450 ? 'min-height: 60px;' : 'min-height: 80px;'">{{item2.texto ? (item2.texto.length > 450 ? formatArticle(item2.texto, item2.idParte) : item2.texto) : item2.tipoParte}}</p>
                                                        <p class="card-text">
                                                            <small class="text-danger" style="cursor: pointer;" *ngIf="item2.texto && item2.texto.length > 450 && !validatShow(item2.idParte)" (click)="showText(item2.idParte)"><b>Ver texto completo</b></small>
                                                            <small class="text-danger" style="cursor: pointer;" *ngIf="item2.texto && item2.texto.length > 450 && validatShow(item2.idParte)" (click)="hideText(item2.idParte)"><b>Ocultar texto completo</b></small>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2" style="
                                                background-color: #f3f6f9;
                                                border-left: 1px solid #000;
                                                border-top-right-radius: 24px;
                                                border-bottom-right-radius: 24px;
                                                display: flex;
                                                justify-content: center;
                                                justify-items: center;
                                                align-items: center;">
                                                    <button class="btn btn-success createFile-modal" data-bs-toggle="modal"
                                                    data-bs-target="#createFileModal" (click)="conectArticle(item2.idParte, item2.tituloParte, item2.tipoParte, item2.texto)" *ngIf="validateIdparte(item2.idParte)"><!--<i
                                                        class="ri-add-line align-bottom me-1"></i>--> Conectar</button>
                                                    <span *ngIf="!validateIdparte(item2.idParte)">Aplicable</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <ng-container *ngIf="item2.EstructurasFuncionales">
                                    
                                        <div class="col-xxl-12" id="r-{{item2.idParte}}">
                                            <div class="card border card-border-primary" style="border-radius: 24px !important;background-color: #dedede;">
                                                <div class="row g-0">
                                                    <div class="col-md-12">
                                                        <div class="card-body">
                                                            <h5 class="card-title mb-0">{{item2.tituloParte ? item2.tituloParte : (item2.texto ? (item2.texto.split(".")[0].length > 10 ? item2.texto.split(".")[0] : item2.tipoParte) : item2.tipoParte) }}</h5>  
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    <div class="col-xxl-12" *ngFor="let item3 of item2.EstructurasFuncionales; let i5 = index;" id="r-{{item3.idParte}}">
                                    <!--<div class="card border card-border-primary" style="border-radius: 24px !important;min-height: 140px;">
                                        <div class="row g-0">
                                            <div class="col-md-10">
                                                <div class="card-body">
                                                    
                                                    <h5 class="card-title mb-0">{{item3.tituloParte ? item3.tituloParte : (item3.texto ? (item3.texto.split(".")[0].length > 10 ? item3.texto.split(".")[0] : item3.tipoParte) : item3.tipoParte) }}</h5>
                                                    <p class="card-text mb-2" [style]="item3.texto && item3.texto.length > 450 ? 'min-height: 60px;' : 'min-height: 80px;'">{{item3.texto ? (item3.texto.length > 450 ? formatArticle(item3.texto, item3.idParte) : item3.texto) : item3.tipoParte}}</p>
                                                    <p class="card-text">
                                                        <small class="text-danger" style="cursor: pointer;" *ngIf="item3.texto && item3.texto.length > 450 && !validatShow(item3.idParte)" (click)="showText(item3.idParte)"><b>Ver texto completo</b></small>
                                                        <small class="text-danger" style="cursor: pointer;" *ngIf="item3.texto && item3.texto.length > 450 && validatShow(item3.idParte)" (click)="hideText(item3.idParte)"><b>Ocultar texto completo</b></small>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-2" style="
                                            background-color: #f3f6f9;
                                            border-left: 1px solid #000;
                                            border-top-right-radius: 24px;
                                            border-bottom-right-radius: 24px;
                                            display: flex;
                                            justify-content: center;
                                            justify-items: center;
                                            align-items: center;">
                                                <button class="btn btn-success createFile-modal" data-bs-toggle="modal"
                                                data-bs-target="#createFileModal" (click)="conectArticle(item3.idParte)" *ngIf="validateIdparte(item3.idParte)">Conectar</button>
                                                    <span *ngIf="!validateIdparte(item3.idParte)">Aplicable</span>
                                            </div>
                                        </div>
                                    </div>-->

                                            <!--Inicio nivel 4-->
                                            <div class="col-xxl-12" id="r-{{item3.idParte}}" *ngIf="!item3.EstructurasFuncionales">
                                                <div class="card border card-border-primary" style="border-radius: 24px !important;">
                                                    <div class="row g-0">
                                                        <div class="col-md-10">
                                                            <div class="card-body">
                                                                
                                                                <h5 class="card-title mb-0">{{item3.tituloParte ? item3.tituloParte : (item3.texto ? (item3.texto.split(".")[0].length > 10 ? item3.texto.split(".")[0] : item3.tipoParte) : item3.tipoParte) }}</h5>
                                                                <p class="card-text mb-2" [style]="item3.texto && item3.texto.length > 450 ? 'min-height: 60px;' : 'min-height: 80px;'">{{item3.texto ? (item3.texto.length > 450 ? formatArticle(item3.texto, item3.idParte) : item3.texto) : item3.tipoParte}}</p>
                                                                <p class="card-text">
                                                                    <small class="text-danger" style="cursor: pointer;" *ngIf="item3.texto && item3.texto.length > 450 && !validatShow(item3.idParte)" (click)="showText(item3.idParte)"><b>Ver texto completo</b></small>
                                                                    <small class="text-danger" style="cursor: pointer;" *ngIf="item3.texto && item3.texto.length > 450 && validatShow(item3.idParte)" (click)="hideText(item3.idParte)"><b>Ocultar texto completo</b></small>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2" style="
                                                        background-color: #f3f6f9;
                                                        border-left: 1px solid #000;
                                                        border-top-right-radius: 24px;
                                                        border-bottom-right-radius: 24px;
                                                        display: flex;
                                                        justify-content: center;
                                                        justify-items: center;
                                                        align-items: center;">
                                                            <button class="btn btn-success createFile-modal" data-bs-toggle="modal"
                                                            data-bs-target="#createFileModal" (click)="conectArticle(item3.idParte, item3.tituloParte, item3.tipoParte, item3.texto)" *ngIf="validateIdparte(item3.idParte)"><!--<i
                                                                class="ri-add-line align-bottom me-1"></i>--> Conectar</button>
                                                            <span *ngIf="!validateIdparte(item3.idParte)">Aplicable</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <ng-container *ngIf="item3.EstructurasFuncionales">
                                            
                                                <div class="col-xxl-12" id="r-{{item3.idParte}}">
                                                    <div class="card border card-border-primary" style="border-radius: 24px !important;background-color: #dedede;">
                                                        <div class="row g-0">
                                                            <div class="col-md-12">
                                                                <div class="card-body">
                                                                    <h5 class="card-title mb-0">{{item3.tituloParte ? item3.tituloParte : (item3.texto ? (item3.texto.split(".")[0].length > 10 ? item3.texto.split(".")[0] : item3.tipoParte) : item3.tipoParte) }}</h5>  
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                            <div class="col-xxl-12" *ngFor="let item4 of item3.EstructurasFuncionales; let i6 = index;" id="r-{{item4.idParte}}">
                                            <div class="card border card-border-primary" style="border-radius: 24px !important;min-height: 140px;">
                                                <div class="row g-0">
                                                    <div class="col-md-10">
                                                        <div class="card-body">
                                                            
                                                            <h5 class="card-title mb-0">{{item4.tituloParte ? item4.tituloParte : (item4.texto ? (item4.texto.split(".")[0].length > 10 ? item4.texto.split(".")[0] : item4.tipoParte) : item4.tipoParte) }}</h5>
                                                            <p class="card-text mb-2" [style]="item4.texto && item4.texto.length > 450 ? 'min-height: 60px;' : 'min-height: 80px;'">{{item4.texto ? (item4.texto.length > 450 ? formatArticle(item4.texto, item4.idParte) : item4.texto) : item4.tipoParte}}</p>
                                                            <p class="card-text">
                                                                <small class="text-danger" style="cursor: pointer;" *ngIf="item4.texto && item4.texto.length > 450 && !validatShow(item4.idParte)" (click)="showText(item4.idParte)"><b>Ver texto completo</b></small>
                                                                <small class="text-danger" style="cursor: pointer;" *ngIf="item4.texto && item4.texto.length > 450 && validatShow(item4.idParte)" (click)="hideText(item4.idParte)"><b>Ocultar texto completo</b></small>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2" style="
                                                    background-color: #f3f6f9;
                                                    border-left: 1px solid #000;
                                                    border-top-right-radius: 24px;
                                                    border-bottom-right-radius: 24px;
                                                    display: flex;
                                                    justify-content: center;
                                                    justify-items: center;
                                                    align-items: center;">
                                                        <button class="btn btn-success createFile-modal" data-bs-toggle="modal"
                                                        data-bs-target="#createFileModal" (click)="conectArticle(item4.idParte, item4.tituloParte, item4.tipoParte, item4.texto)" *ngIf="validateIdparte(item4.idParte)"><!--<i
                                                            class="ri-add-line align-bottom me-1"></i>--> Conectar</button>
                                                            <span *ngIf="!validateIdparte(item4.idParte)">Aplicable</span>
                                                    </div>
                                                </div>
                                            </div><!-- end card -->
                                            </div><!-- end col -->
                                            </ng-container>
                                        <!-- Fin nivel 4--> 
                                        
                                    </div><!-- end col -->
                                    </ng-container>
                                <!-- Fin nivel 3--> 
                    </div><!-- end col -->
                    </ng-container>
                <!-- Fin nivel 2--> 
            <!-- </div>end card -->
            </div><!-- end col -->
            </ng-container>
        </ng-container>

            </div>
        </ngx-simplebar>
    </div>
    </div>

<app-toastsp aria-live="polite" aria-atomic="true"></app-toastsp>