.btn-outline-brown{
    --vz-btn-color: #b46601;
    --vz-btn-border-color: #b46601;
    --vz-btn-hover-color: #fff;
    --vz-btn-hover-bg: #b46601;
    --vz-btn-hover-border-color: #b46601;
    --vz-btn-focus-shadow-rgb: 10, 179, 156;
    --vz-btn-active-color: #fff;
    --vz-btn-active-bg: #b46601;
    --vz-btn-active-border-color: #b46601;
    --vz-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --vz-btn-disabled-color: #b46601;
    --vz-btn-disabled-bg: transparent;
    --vz-btn-disabled-border-color: #b46601;
    --vz-gradient: none;
}

.btn-outline-violet{
    --vz-btn-color: #d400ff;
    --vz-btn-border-color: #d400ff;
    --vz-btn-hover-color: #fff;
    --vz-btn-hover-bg: #d400ff;
    --vz-btn-hover-border-color: #d400ff;
    --vz-btn-focus-shadow-rgb: 10, 179, 156;
    --vz-btn-active-color: #fff;
    --vz-btn-active-bg: #d400ff;
    --vz-btn-active-border-color: #d400ff;
    --vz-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --vz-btn-disabled-color: #d400ff;
    --vz-btn-disabled-bg: transparent;
    --vz-btn-disabled-border-color: #d400ff;
    --vz-gradient: none;
}

.btn-brown{
    --vz-btn-color: #fff;
    --vz-btn-bg: #b46601;
    --vz-btn-border-color: #b46601;
    --vz-btn-hover-color: #fff;
    --vz-btn-hover-bg: #b46601;
    --vz-btn-hover-border-color: #b46601;
    --vz-btn-focus-shadow-rgb: 248, 195, 102;
    --vz-btn-active-color: #fff;
    --vz-btn-active-bg: #b46601;
    --vz-btn-active-border-color: #b46601;
    --vz-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --vz-btn-disabled-color: #fff;
    --vz-btn-disabled-bg: #b46601;
    --vz-btn-disabled-border-color: #b46601;
}

.btn-outline-violet{
    --vz-btn-color: #d400ff;
    --vz-btn-border-color: #d400ff;
    --vz-btn-hover-color: #fff;
    --vz-btn-hover-bg: #d400ff;
    --vz-btn-hover-border-color: #d400ff;
    --vz-btn-focus-shadow-rgb: 10, 179, 156;
    --vz-btn-active-color: #fff;
    --vz-btn-active-bg: #d400ff;
    --vz-btn-active-border-color: #d400ff;
    --vz-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --vz-btn-disabled-color: #d400ff;
    --vz-btn-disabled-bg: transparent;
    --vz-btn-disabled-border-color: #d400ff;
    --vz-gradient: none;
}

.btn-violet{
    --vz-btn-color: #fff;
    --vz-btn-bg: #d400ff;
    --vz-btn-border-color: #d400ff;
    --vz-btn-hover-color: #fff;
    --vz-btn-hover-bg: #d400ff;
    --vz-btn-hover-border-color: #d400ff;
    --vz-btn-focus-shadow-rgb: 248, 195, 102;
    --vz-btn-active-color: #fff;
    --vz-btn-active-bg: #d400ff;
    --vz-btn-active-border-color: #d400ff;
    --vz-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --vz-btn-disabled-color: #fff;
    --vz-btn-disabled-bg: #d400ff;
    --vz-btn-disabled-border-color: #d400ff;
}

.bg-info-card-header{
    background-color:#b4e4ff;
}

.text-info-card-header{
    color: #299CDB;
}


.bg-success-card-header{
    background-color:#0ab39c7a;
}

.text-success-card-header{
    color: #0ab39c;
}


.bg-warning-card-header{
    background-color:#f7b84b5e;
}

.text-warning-card-header{
    color: #f7b84b;
}


.bg-brown-card-header{
    background-color:#b3670578;
}

.text-brown-card-header{
    color: #b46601;
}


.bg-violet-card-header{
    background-color:#d400ff52;
}

.text-violet-card-header{
    color: #d400ff;
}