.titulo-caja{    
    border: 1px solid #bcbcbc;
    width: 200px;
    align-items: center;
    text-align: center;
    height: 40px;
    vertical-align: middle;
    margin: auto;
    justify-content: center;
    justify-items: center;
    display: flex;
}

.container-article{
    background-color: #f3f6f9;
    border-left: 1px solid #000;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.div-texto-check{
    background-color: #405189 !important;
}

.texto-check{
    color: #fff !important;
}

.text-bg-no-evaluado{
    color: #fff !important;
    background-color: #878A99;
}