<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Paso 4: Conecta la normativa a tus procesos" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<!--preloader-->
<div id="preloader" style="opacity: 0px !important;background-color: #000 !important;visibility: hidden;">
    <div id="status">
      <div class="spinner-border text-primary avatar-sm" role="status">
          <span class="visually-hidden">Cargando...</span>
      </div>
    </div>
  </div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Instalaciones y procesos</h4>
            </div>

            <div class="card-body">
                <div id="customerList">
                    <!--<div class="row g-4 mb-3">
                        <div class="col-sm-auto">
                            <div class="d-flex gap-1">
                                <button type="button" class="btn btn-success add-btn" data-bs-toggle="modal"
                                    id="create-btn" data-bs-target="#showModal" (click)="openModal(content)"><i
                                        class="ri-add-line align-bottom me-1"></i> Agregar</button>
                                <button class="btn btn-soft-danger" (click)="deleteMultiple(deleteModel)"><i
                                        class="ri-delete-bin-2-line"></i></button>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="d-flex justify-content-sm-end">
                                <div class="search-box ms-2">
                                    <input type="text" class="form-control search" placeholder="Buscar..."
                                        [(ngModel)]="service.searchTerm">
                                    <i class="ri-search-line search-icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    
                    <div class="table-responsive table-card mt-3 mb-1">                    
                        <!--tabla antigua-->
                        <!--<table class="table">
                            <thead>
                                <tr class="bg-light text-muted">
                                --><!--<th scope="col" style="width: 50px;">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="checkAll" value="option"
                                                [(ngModel)]="masterSelected" (change)="checkUncheckAll($event)">
                                        </div>
                                    </th>--><!--
                                    <th class="sort" data-sort="nombre">Instalación</th>
                                    <th class="sort" data-sort="cuerpo">Cuerpos legales vinculados</th>
                                    <th class="sort" data-sort="articulos">Articulos vinculados</th>
                                    <th class="sort">Estado</th>
                                    <th class="sort">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of InstallationDatas" id="lj_{{data.id}}">
                                --><!--<th scope="row">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="checkAll"
                                                value="{{data.id}}" [(ngModel)]="data.state">
                                        </div>
                                    </th>--><!--
                                    <td><ngb-highlight [result]="data.nombre"
                                            [term]="service.searchTerm"></ngb-highlight></td>
                                    <td><ngb-highlight [result]="data.cuerpo ? data.cuerpo : 0"
                                            [term]="service.searchTerm"></ngb-highlight></td>
                                    <td><ngb-highlight [result]="data.articulo ? data.articulo : 0"
                                            [term]="service.searchTerm"></ngb-highlight></td>
                                    <td class="status"><span
                                                class="badge badge-soft-{{data.conectado ? 'success' : 'danger'}} text-uppercase">{{data.conectado ? data.conectado : 'No conectado'}}</span>
                                    </td>
                                    <td>
                                        
                                        <div class="d-flex gap-2">
                                            <div class="edit">
                                                <button class="btn btn-sm btn-success edit-item-btn"
                                                    data-bs-toggle="modal" data-bs-target="#showModal" routerLink="/projects/{{project_id}}/type/installations/{{data.id}}/{{data.nombre}}/bodylegal"
                                                    >Conectar</button>
                                            </div>-->
                                            <!--<div class="remove">
                                                <button class="btn btn-sm btn-danger remove-item-btn"
                                                    data-bs-toggle="modal" data-bs-target="#deleteRecordModal"
                                                    (click)="confirm(deleteModel,data.id)">Remover</button>
                                            </div>-->
                         <!--               </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>-->

                        <table mat-table [dataSource]="dataSource" class="table" style="border: gainsboro !important;"><!--class="mat-elevation-z8"-->
                            <ng-container matColumnDef="nombre">
                                
                              <th mat-header-cell *matHeaderCellDef> 
                                <span [style.paddingLeft.px]="40"> Instalación </span>
                              </th>
                            
                              <td mat-cell *matCellDef="let data"> 
                                <span 
                                        [style.visibility]="!data.expandable ? 'hidden' : ''"
                                        [style.marginLeft.px]="data.level * 32"
                                        [style.cursor]="'pointer'"
                                        (click)="treeControl.toggle(data)">
                                  <!--<mat-icon class="mat-icon-rtl-mirror">
                                    {{treeControl.isExpanded(data) ? 'expand_more' : 'chevron_right'}}
                                  </mat-icon>-->
                                  <i class="{{treeControl.isExpanded(data) ? 'ri-arrow-down-s-line' : 'ri-arrow-right-s-line'}}"></i>
                                </span>
                                <ngb-highlight [result]="data.nombre"></ngb-highlight>
                              </td>
                              
                            </ng-container> 
                          
                            <ng-container matColumnDef="cuerpo">
                              <th mat-header-cell *matHeaderCellDef> Cuerpos legales vinculados </th>
                              <td mat-cell *matCellDef="let data">
                                <ngb-highlight [result]="data.cuerpo ? data.cuerpo : 0"></ngb-highlight>
                              </td>
                            </ng-container> 

                            <ng-container matColumnDef="articulos">
                                <th mat-header-cell *matHeaderCellDef> Articulos vinculados </th>
                                <td mat-cell *matCellDef="let data">
                                  <ngb-highlight [result]="data.articulo ? data.articulo : 0"></ngb-highlight>
                                </td>
                              </ng-container> 
                              
                            <ng-container matColumnDef="estado">
                                <th mat-header-cell *matHeaderCellDef> Estado </th>
                                <td class="status" mat-cell *matCellDef="let data">
                                    <span
                                                class="badge badge-soft-{{data.conectado ? 'success' : 'danger'}} text-uppercase">{{data.conectado == true ? 'Conectado': 'No conectado'}}</span>
                                </td>
                              </ng-container>

                            <ng-container matColumnDef="accion">
                                <th mat-header-cell *matHeaderCellDef> Acción </th>
                                <td mat-cell *matCellDef="let data">
  
                                      <div class="d-flex gap-2">
                                          <div class="edit">
                                              <button class="btn btn-sm btn-success edit-item-btn"
                                                  data-bs-toggle="modal" data-bs-target="#showModal" routerLink="/projects/{{project_id}}/type/installations/{{data.id}}/{{data.nombre}}/bodylegal"
                                                  >Conectar</button>
                                          </div>
                                      </div>
                                  </td>
                              </ng-container> 
                          
                            <thead>
                            <tr class="bg-light text-muted" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            </thead>
                            <tbody>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </tbody>
                          </table>
                    </div>

                    <div class="row justify-content-md-between align-items-md-center">
                        <div class="col col-sm-6">
                            <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                                Mostrando
                                {{service.startIndex}} de
                                {{service.endIndex}} de {{service.totalRecords}}
                                entradas
                            </div>
                        </div>
                        <!-- Pagination -->
                        <div class="col col-sm-6">
                            <div class="text-sm-right float-sm-end listjs-pagination">
                                <ngb-pagination [collectionSize]="(total | async)!" [(page)]="service.page"
                                    [pageSize]="service.pageSize">
                                </ngb-pagination>
                            </div>
                        </div>
                        <!-- End Pagination -->
                    </div>
                </div>
            </div><!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->

<!-- removeItemModal -->
<ng-template #deleteModel let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar" id="btn-close"
                (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="mt-2 text-center">
                <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                    colors="primary:#405189,secondary:#f06548" style="width:90px;height:90px"></lord-icon>
                <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                    <h4>Está a punto de eliminar este registro?</h4>
                    <p class="text-muted mx-4 mb-0">Eliminar su registro eliminará toda su información de nuestro
sistema.</p>
                </div>
            </div>
            <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                <button class="btn btn-link link-success fw-medium text-decoration-none" data-bs-dismiss="modal"
                    (click)="modal.close('Close click')"><i class="ri-close-line me-1 align-middle"></i> Cerrar</button>
                <button type="button" class="btn w-sm btn-danger " id="delete-product" (click)="deleteData(deleteId)"
                    (click)="modal.close('Close click')">Si, Remover!</button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</ng-template>


<app-toastsp aria-live="polite" aria-atomic="true"></app-toastsp>