.margin-card{
    margin: 20px 10px 20px 10px;
}

.cant-aplicables{
    font-size: 48px;
}

.text-aplicables{
    font-size: 24px;
}

.nav-conect .nav-link{
    padding: 20px;
    color: #405198;
}

.nav-conect .nav-link.active{
    background: #e1e5ee;
}

.div-texto{
    border: 1px solid #c0c0c0;background-color: #f3f6f9;
    cursor: pointer;
    border-radius: 24px;
    align-items: center;
    word-wrap: break-word;
    word-break: break-word;
    padding: 5px;
    font-size: 12px;
    min-height: 50px;
    min-width: 120px;
    width: auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

.div-texto-check{
    background-color: #405189 !important;
}

.texto-check{
    color: #fff !important;
}

.div-texto.disabled {
    //opacity: 0.5 !important;
    cursor: not-allowed !important;
}

.icon-check{
    color: #0ab39c !important;
}

.text-gray{
    color:#f3f6f9 !important;
}
.tono1{
    background: #d6e6ff;//#f3f3f9;
}
.tono2{
    background: #f3f3f9;
}
.pointer{
    cursor: pointer;
}

.chip {
    display: inline-block;
    padding: 0 10px;
    //height: 50px;
    font-size: 12px;
    line-height: 24px;
    border-radius: 25px;
    color: white;
    background-color: #405189;
    width: auto;//100%;
    margin-left: 10px;
  }

  .closebtn {
    padding-left: 10px;
    color: white;
    //font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
  }
  
  .closebtn:hover {
    color: #000;
  }