<!-- Start Breadcrumbs -->
<app-breadcrumbs title="{{project.nombre}}" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

 <div class="row project-wrapper">
    <div class="col-xxl-12">
        
  <div class="row">
    <div class="col-xxl-12">
        <!--<h5 class="mb-3">Header Justify Tabs</h5>-->
        <div class="card">
            <div class="card-header align-items-xl-center d-xl-flex">
                <div class="flex-grow-1 mb-xl-0">
                    <button class="btn btn-primary btn-label waves-effect left waves-light" routerLink="/projects/{{project_id}}/identification"><i class="ri-arrow-left-line label-icon align-middle fs-16"></i> Volver a identificación</button>
                </div>
                <!--<p class="text-muted flex-grow-1 mb-xl-0">Use <code>card-header-pills</code> class to create header justify tab.</p>-->
                <div class="flex-shrink-0">
                  <ul ngbNav #Header="ngbNav" [activeId]="1" class="nav nav-pills card-header-pills">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink>
                          Dashboard
                        </a>
                        <ng-template ngbNavContent>
                          <div class="row">
                            <div class="col-sm-4">
                                <div class="row mb-3">
                                    
                                    <div class="col-md-12">
                                        <div class="card card-animate">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        <p class="fw-medium text-muted mb-0">Cuerpos legales aplicables</p>
                                                        <h2 class="mt-4 ff-secondary fw-semibold">
                                                            <span [CountTo]="28" class="counter-value" [from]="0" [duration]="1"></span>
                                                        </h2>
                                                        <!--<p class="mb-0 text-muted"><span class="badge bg-light text-success mb-0">[ngClass]=" { 'text-danger': profit === 'down'}"
                                                                <i class="align-middle ri-arrow-up-line"></i>
                                                                {{persantage}} %
                                                            </span> vs. previous month</p>-->
                                                    </div>
                                                    <div>
                                                        <div class="avatar-sm flex-shrink-0">
                                                            <span class="avatar-title bg-soft-info rounded-circle fs-2">
                                                                <i-feather name="users" class="text-info feather-icon-align"></i-feather>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    
                                    <div class="col-md-12">
                                        <div class="card card-animate">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        <p class="fw-medium text-muted mb-0">Artículos legales aplicables</p>
                                                        <h2 class="mt-4 ff-secondary fw-semibold">
                                                            <span [CountTo]="238" class="counter-value" [from]="0" [duration]="1"></span>
                                                        </h2>
                                                    </div>
                                                    <div>
                                                        <div class="avatar-sm flex-shrink-0">
                                                            <span class="avatar-title bg-soft-info rounded-circle fs-2">
                                                                <i-feather name="users" class="text-info feather-icon-align"></i-feather>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    
                                    <div class="col-md-12">
                                        <div class="card card-animate bg-primary" style="color: #fff !important;">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        <p class="fw-medium mb-0">Cumplimiento actual</p>
                                                        <h2 class="mt-4 ff-secondary fw-semibold" style="color: #fff !important;">
                                                            <span [CountTo]="avance_evaluacion > 0 ? avance_evaluacion : 0" class="counter-value" [from]="0" [duration]="1"></span><span>{{avance_evaluacion > 0 ? '' : 0}}%</span>
                                                        </h2>
                                                        <p class="mb-0" style="font-style: italic;"><span class="badge bg-light mb-0" [ngClass]=" { 'text-danger': avance_evaluacion < 25, 'text-warning': avance_evaluacion > 25 && avance_evaluacion < 75, 'text-success': avance_evaluacion > 75}">
                                                                {{avance_evaluacion}} %
                                                            </span> Última evaluación</p>
                                                    </div>
                                                    <div>
                                                        <div class="avatar-sm flex-shrink-0">
                                                            <span class="avatar-title bg-soft-info rounded-circle fs-2" style="background-color: #fff !important;">
                                                                <i-feather name="users" class="text-info feather-icon-align"></i-feather>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <h4>Cuerpos Legales</h4>
                                <apx-chart [series]="simplePieChart.series" [chart]="simplePieChart.chart" [labels]="simplePieChart.labels" [legend]="simplePieChart.legend" [dataLabels]="simplePieChart.dataLabels" [responsive]="simplePieChart.responsive" [colors]="simplePieChart.colors" dir="ltr"></apx-chart>
                            </div>
                            
                            <div class="col-sm-4">
                                <h4>Artículos Legales</h4>
                                <apx-chart [series]="simplePieChart.series" [chart]="simplePieChart.chart" [labels]="simplePieChart.labels" [legend]="simplePieChart.legend" [dataLabels]="simplePieChart.dataLabels" [responsive]="simplePieChart.responsive" [colors]="simplePieChart.colors" dir="ltr"></apx-chart>
                            </div>
                          </div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink>
                          Control
                        </a>
                        <ng-template ngbNavContent>
                          <div class="row">
                            <div class="col-lg-12">
                                
                                <div class="row g-4 mb-3">
                                    <div class="col-sm">
                                        
                                    </div>
                                    <div class="col-sm-auto">
                                        <div class="d-md-flex justify-content-sm-end gap-2">
                                            <div class="search-box ms-md-2 flex-shrink-0 mb-3 mb-md-0">
                                                <input type="text" class="form-control" style="width: 400px; margin-right: 30px;" placeholder="Buscar un Elemento"><!--"service.searchTerm"-->
                                                <i class="ri-search-line search-icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="card">
                                    <div class="card-body">-->
                    
                                        <div *ngIf="installations_data.length < 1">
                                            <div style="text-align: center;width: 100%;font-size: 20px;">
                                                Aún no tiene Elementos o actividades
                                            </div>
                                        </div>
                    
                                        <div *ngIf="installations_data.length > 0">            
                                                <div class="list-group">
                                                    <ng-container *ngFor="let ig of installations_group"><!-- | filter:term2-->
                                                        <h4 style="color: #405189;">{{ig.area}}</h4>
                                                        <p>{{ig.descripcion}}</p>
                    
                                                        <ng-container *ngFor="let v of ig.instalaciones;">
                    
                                                        <div class="team-list list-view-filter row" style="cursor: pointer;" (click)="goDetail(v.id)">
                                                            <div class="col">
                                                                <div class="card team-box">
                                                                    <div class="team-cover">
                                                                        
                                                                    </div>
                                                                    <div class="card-body p-4">                
                                                                        <div class="row align-items-center team-row">
                                                                            <div class="col team-settings">
                                                                                <div class="row">
                                                                                    <div class="col">
                                                                                        
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-4 col">
                                                                                <div class="team-profile-img">
                                                                                    
                                                                                    <div class="form-check form-check-inline form-radio-primary mb-3">
                                                                                        <label class="form-check-label" for="inlineCheckbox1">
                                                                                            <h5 class="fs-16 mb-1" style="color: #405189;">{{v.nombre}}</h5>
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                    
                                                                            <div class="col-lg-2 col">
                                                                                <div class="row text-muted text-center">
                                                                                    <div class="col-12 border-end border-end-dashed">
                                                                                        <h5 class="mb-1">{{v.total_cuerpos ? v.total_cuerpos : 0}}</h5>
                                                                                        <p class="text-muted mb-0">Cuerpos legales Vinculados</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            
                                                                            <div class="col-lg-2 col">
                                                                                <div class="row text-muted text-center">
                                                                                    <div class="col-12 border-end border-end-dashed">
                                                                                        <h5 class="mb-1">{{v.total_articulos ? v.total_articulos : 0}}</h5>
                                                                                        <p class="text-muted mb-0">Artículos Vinculados</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="col-lg-2 col">
                                                                                <div class="progress progress-xl">
                                                                                    <div class="progress-bar" [ngClass]="{'bg-danger': v.avance < 25, 'bg-warning': v.avance > 25 && v.avance < 75, 'bg-success': v.avance > 75 }" role="progressbar" [style]="v.avance > 0 ? 'width:'+v.avance+'%;':'width: 10%;color: #000;background: #eff2f7;'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{v.avance}}%</div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="col-lg-1 col">
                                                                                <span class="badge text-bg-danger">No evaluado</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--end card-->
                                                            </div>
                                                        </div>
                                                        </ng-container>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        <!--</div>
                                </div>-->
                            </div>
                          </div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="3">
                        <a ngbNavLink>
                          Evaluaciones
                        </a>
                        <ng-template ngbNavContent>
                          
                            <div class="row">
                                <div class="col-lg-12">
                                    
                                    <div class="row g-4 mb-3">
                                        <div class="col-sm">
                                            <div>
                                                <button type="button" class="btn btn-success btn-label waves-effect left waves-light"><i class="ri-add-line label-icon align-middle fs-16"><!--ms-2--></i> Crear Evaluación</button>
                                            </div>
                                        </div>
                                        <div class="col-sm-auto">
                                            
                                        </div>
                                    </div>
                                    <!--<div class="card">
                                        <div class="card-body">-->
                        
                                            <!--<div *ngIf="installations_data.length < 1">
                                                <div style="text-align: center;width: 100%;font-size: 20px;">
                                                    Aún no tiene Elementos o actividades
                                                </div>
                                            </div>-->
                        
                                            <div><!--*ngIf="installations_data.length > 0"-->            
                                                    <div class="list-group">
                                                        <!--<ng-container *ngFor="let ig of installations_group | filter:term2">-->
                                          
                                                            <!--<ng-container *ngFor="let v of ig.instalaciones;">-->
                        
                                                            <div class="team-list list-view-filter row">
                                                                <div class="col">
                                                                    <div class="card team-box">
                                                                        <div class="team-cover">
                                                                            
                                                                        </div>
                                                                        <div class="card-body p-4">                
                                                                            <div class="row align-items-center team-row">
                                                                                <div class="col team-settings">
                                                                                    <div class="row">
                                                                                        <div class="col">
                                                                                            
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-3 col">
                                                                                    <div class="row text-muted text-center">
                                                                                        <div class="col-12 border-end border-end-dashed">
                                                                                            <h5 class="mb-1">02-08-2023</h5>
                                                                                            <p class="text-muted mb-0">Inicio</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                        
                                                                                <div class="col-lg-3 col">
                                                                                    <div class="row text-muted text-center">
                                                                                        <div class="col-12 border-end border-end-dashed">
                                                                                            <h5 class="mb-1">20-08-2023</h5>
                                                                                            <p class="text-muted mb-0">Término</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                
                                                                                <div class="col-lg-3 col">
                                                                                    <div class="row text-muted text-center">
                                                                                        <div class="col-12 border-end border-end-dashed">
                                                                                            <h5 class="mb-1"><b>Andrea Marin</b></h5>
                                                                                            <p class="text-muted mb-0">Evaluador/a</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
    
                                                                                <div class="col-lg-2 col">
                                                                                    <div class="progress progress-xl">
                                                                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                                                                    </div>
                                                                                </div>
    
                                                                                <div class="col-lg-1 col">
                                                                                    <span class="badge text-bg-warning">En proceso</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--end card-->
                                                                </div>
                                                            </div>
                                                            <!--</ng-container>
                                                        </ng-container>-->
                                                    </div>
                                                </div>
                                            <!--</div>
                                    </div>-->
                                </div>
                              </div>
                        </ng-template>
                    </li>
                  </ul>
                </div>
            </div><!-- end card header -->
            <div class="card-body">
                <!-- Tab panes -->
                <div class="tab-content text-muted">
                  <div [ngbNavOutlet]="Header"></div>
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
        </div><!--end col-->
        </div>
        
    </div><!-- end col -->

</div><!-- end row -->