<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Paso 5: Evaluar Cumplimiento" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<!--preloader-->
<div id="preloader" style="opacity: 0px !important;background-color: #000 !important;visibility: hidden;">
    <div id="status">
      <div class="spinner-border text-primary avatar-sm" role="status">
          <span class="visually-hidden">Cargando...</span>
      </div>
    </div>
  </div>

<div class="row">
    <div class="col-12">
<div class="col-xl-12">
    <div class="card">
        <div class="card-header">
            <h6 class="card-title">{{detail.nombre}}</h6>
            
                <p class="card-subtitle text-muted mb-0">{{detail.descripcion}}</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-xxl-3 col-lg-3">
                    <p><b>CUERPO LEGAL:</b></p>
                    <p><b>{{detail.data ? (detail.data.length > 0 ? detail.data.length : 0) : 0}} {{detail.data ? (detail.data.length == 1 ? 'Cuerpo legal aplicable' : 'Cuerpos Legales aplicables') : 'Cuerpos Legales aplicables'}}</b></p>
                </div>
                
                <div class="col-xxl-3 col-lg-3">
                    <p><b>ARTICULO:</b></p>
                    <p><b>{{detail.total_articulos > 0 ? detail.total_articulos : 0}} {{detail.total_articulos == 1 ? 'Articulo aplicable' : 'Articulos aplicables'}}</b></p>
                </div>

                <div class="col-xxl-3 col-lg-3">
                    <p><b>AVANCE:</b></p>
                    
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                    </div>
                </div>
                
                <div class="col-xxl-3 col-lg-3">
                    <p><b>ESTADO:</b></p>
                    <p><span
                        class="badge badge-soft-danger text-uppercase">Sin evaluar</span></p>
                </div>
            </div>
        </div>
        
        <div class="card-footer">
            <div class="row">
                <div class="col-xxl-12 col-lg-12">
                <h5>CUMPLIMIENTO</h5>
                </div>
                <div class="col-xxl-1 col-lg-1">
                    <p><b>Cuerpo Legal:</b></p>
                </div>
                <div class="col-xxl-2 col-lg-2">
                    <p><b>0 No Cumple</b></p>
                    <div class="progress progress-sm">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p><b>0 Cumple</b></p>
                    <div class="progress progress-sm">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p><b>0 Parcial</b></p>
                    
                    <div class="progress progress-sm">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col-xxl-1 col-lg-1">
                    <p><b>Articulo:</b></p>
                </div>
                <div class="col-xxl-2 col-lg-2">
                    <p><b>0 No Cumple</b></p>
                    <div class="progress progress-sm">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p><b>0 Cumple</b></p>
                    <div class="progress progress-sm">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p><b>0 Parcial</b></p>
                    
                    <div class="progress progress-sm">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="row">
    <div class="col-12">
<div class="col-xl-12">
    <div class="card">
        <div class="card-header">
            <div class="row">
                
                <div class="col-xxl-4 col-lg-4">
                    <select class="form-select" placeholder="Cuerpo Legal" data-choices data-choices-search-false
                                id="choices-priority-input">
                                <option value="">Cuerpo Legal</option>
                    </select>
                </div>
                
                <div class="col-xxl-4 col-lg-4">
                    <select class="form-select" placeholder="Articulo" data-choices data-choices-search-false
                                id="choices-priority-input2">
                                <option value="">Articulo</option>
                    </select>
                </div>
                
                <div class="col-xxl-3 col-lg-3">
                    <select class="form-select" placeholder="Estado" data-choices data-choices-search-false
                                id="choices-priority-input3">
                                <option value="">Estado</option>
                    </select>
                </div>
                
                <div class="col-xxl-1 col-lg-1">
                    <button class="btn btn-primary"><i class="ri-equalizer-fill"></i> Filtros</button>
                </div>
                
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-xxl-12 col-lg-12">
                    
                    <div class="row">
                        <div class="col-xxl-1 col-lg-1" *ngFor="let c of detail.data; let i = index;">
                            <div style="border: 1px solid #c0c0c0;background-color: #f3f6f9;">
                                <h5>{{c.cuerpoLegal}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="table-responsive table-card mt-3 mb-1">
                    <table class="table">
                        <thead>
                            <tr class="bg-light text-muted">
                                <th class="sort" data-sort="articulo">Articulo</th>
                                <th class="sort" data-sort="descripcion">Descripción</th>
                                <th class="sort">Avance</th>
                                <th class="sort">Estado</th>
                                <th class="sort">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of articulosDatas" id="lj_{{data.id}}">
                                <td><ngb-highlight [result]="data.articulo"
                                        [term]="service.searchTerm"></ngb-highlight></td>
                                <td><ngb-highlight [result]="data.descripcion ? data.descripcion : ''"
                                        [term]="service.searchTerm"></ngb-highlight></td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%<!--{{data.avance}}--></div>
                                    </div>
                                </td>
                                <td class="status"><span
                                            class="badge badge-soft-{{data.conectado ? 'success' : 'danger'}} text-uppercase">{{data.conectado ? 'Evaluado' : 'Sin evaluar'}}</span>
                                </td>
                                <td>
                                    
                                    <div class="d-flex gap-2">
                                        
                                        <div class="hstack gap-3 fs-15">
                                            <a href="javascript:void(0);" class="link-primary" 
                                            title="Editar"
                                            data-bs-toggle="modal" data-bs-target="#showModal" routerLink="/projects/{{project_id}}/compliance/{{installation_id}}/Task/{{data.id}}"
                                            ><i class="ri-pencil-fill"></i></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row justify-content-md-between align-items-md-center">
                    <div class="col col-sm-6">
                        <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                            Mostrando
                            {{service.startIndex}} de
                            {{service.endIndex}} de {{service.totalRecords}}
                            entradas
                        </div>
                    </div>
                    <!-- Pagination -->
                    <div class="col col-sm-6">
                        <div class="text-sm-right float-sm-end listjs-pagination">
                            <ngb-pagination [collectionSize]="(total | async)!" [(page)]="service.page"
                                [pageSize]="service.pageSize">
                            </ngb-pagination>
                        </div>
                    </div>
                    <!-- End Pagination -->
                </div>

            </div>
        </div>
        
    </div>
</div>
</div>
</div>

<app-toastsp aria-live="polite" aria-atomic="true"></app-toastsp>