<!-- auth-page wrapper -->
<div class="auth-page-wrapper py-5 d-flex justify-content-center align-items-center min-vh-100" style="background-image: url(assets/images/fondo-pasos.png);">

    <!-- auth-page content -->
    <div class="auth-page-content overflow-hidden p-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <div class="text-center">
                        <!--<img src="assets/images/error400-cover.png" alt="error img" class="img-fluid">-->
                        <div class="mt-3">
                            <h3 class="text-uppercase">Conect-<span class="text-danger">IA</span></h3>
                        </div>
                    </div>
                </div><!-- end col -->
            </div>
            <div class="row justify-content-start">
                <div class="col-xl-12 col-lg-12">
                    <div>
                        <!--<img src="assets/images/error400-cover.png" alt="error img" class="img-fluid">-->
                        <div class="mt-3">
                            <p class="text-muted mb-4 fs-3">Paso 1: Define las variables generales de tu proyecto</p>
                            <p class="text-muted mb-4 fs-3">Paso 2: Define los parametros.</p>
                            <p class="text-muted mb-4 fs-3">Paso 3: Resultado de pertenencia.</p>
                            <p class="text-muted mb-4 fs-3">Paso 4: Crea compromisos y obligaciones.</p>
                            <p class="text-muted mb-4 fs-3">Paso 5: Vincula y gestiona tus obligaciones.</p>
                            <a routerLink="" class="btn btn-danger"><!--<i class="mdi mdi-home me-1"></i>-->Comenzar</a>
                        </div>
                    </div>
                </div><!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end auth-page content -->
  </div>
  <!-- end auth-page-wrapper -->
  