<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Selecciona el tipo de Proyecto" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
    <div class="col-xxl-5">
        <div class="card border card-border-dark" style="border-color: #767676 !important;">
            <div class="card-header" style="background-color: #dce0e4 !important;">
                <h6 class="card-title mb-0">Identifica las obligaciones legales y permisos de tu proyecto</h6>
            </div>
            <div class="card-body">
                <p class="card-text">En tan solo 5 pasos completa los campos requeridos y obtendrás un reporte gráfico y ejecutivo de las obligaciones legales aplicables a tu proyecto.</p>
                <div class="text-end">
                    <a mat-raised-button routerLink="/projects" class="btn btn-danger w-lg waves-effect waves-light">Iniciar</a>
                </div>
            </div>
        </div>
    </div><!-- end col -->
    
    <div class="col-xxl-2">
    </div>
    <div class="col-xxl-5">
        <div class="card border card-border-dark" style="border-color: #767676 !important;">
            <div class="card-header" style="background-color: #dce0e4 !important;">
                <h6 class="card-title mb-0">Identifica las obligaciones legales y permisos de tu proyecto</h6>
            </div>
            <div class="card-body">
                <p class="card-text">En tan solo 5 pasos completa los campos requeridos y obtendrás un reporte gráfico y ejecutivo de las obligaciones legales aplicables a tu proyecto.</p>
                <div class="text-end">
                    <a mat-raised-button href="javascript:void(0);" class="btn btn-danger w-lg waves-effect waves-light">Iniciar</a>
                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xxl-5">
        <div class="card border card-border-dark" style="border-color: #767676 !important;">
            <div class="card-header" style="background-color: #dce0e4 !important;">
                <h6 class="card-title mb-0">Identifica las obligaciones legales y permisos de tu proyecto</h6>
            </div>
            <div class="card-body">
                <p class="card-text">En tan solo 5 pasos completa los campos requeridos y obtendrás un reporte gráfico y ejecutivo de las obligaciones legales aplicables a tu proyecto.</p>
                <div class="text-end">
                    <a mat-raised-button href="javascript:void(0);" class="btn btn-danger w-lg waves-effect waves-light">Iniciar</a>
                </div>
            </div>
        </div>
    </div><!-- end col -->
    
    <div class="col-xxl-2">
    </div>
    <div class="col-xxl-5">
        <div class="card border card-border-dark" style="border-color: #767676 !important;">
            <div class="card-header" style="background-color: #dce0e4 !important;">
                <h6 class="card-title mb-0">Identifica las obligaciones legales y permisos de tu proyecto</h6>
            </div>
            <div class="card-body">
                <p class="card-text">En tan solo 5 pasos completa los campos requeridos y obtendrás un reporte gráfico y ejecutivo de las obligaciones legales aplicables a tu proyecto.</p>
                <div class="text-end">
                    <a mat-raised-button href="javascript:void(0);" class="btn btn-danger w-lg waves-effect waves-light">Iniciar</a>
                </div>
            </div>
        </div>
    </div><!-- end col -->
</div><!-- end row -->
  