<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Paso 5: Evaluar Cumplimiento" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<!--preloader-->
<div id="preloader" style="opacity: 0px !important;background-color: #000 !important;visibility: hidden;">
    <div id="status">
      <div class="spinner-border text-primary avatar-sm" role="status">
          <span class="visually-hidden">Cargando...</span>
      </div>
    </div>
  </div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <span class="float-end text-secondary">
                    <span class="hamburger-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                    </span>
                </span>
                <h6 class="card-title">{{detail.nombre}}</h6>
                
                <!--<ng-container *ngFor="let org of detail.organismos">-->
                    <p class="card-subtitle text-muted mb-0">{{detail.descripcion}}</p>
                <!--</ng-container>-->
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">

                <div class="col-xxl-12">
                    <div class="card border card-border-primary" style="border-radius: 24px !important;">
                        <div class="row g-0">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <h5 class="card-title mb-0">{{articulo.articulo}}</h5>  
                                    <p class="card-text mb-2" [style]="articulo.descripcion && articulo.descripcion.length > 450 ? 'min-height: 60px;' : 'min-height: 80px;'">{{ articulo.descripcion && articulo.descripcion.length > 450 ? formatArticle(articulo.descripcion, articulo.articulo) : articulo.descripcion }}</p>
                                    
                                    <p class="card-text">
                                        <small class="text-success" style="cursor: pointer;" *ngIf="articulo.descripcion && articulo.descripcion.length > 450 && !validatShow(articulo.articulo)" (click)="showText(articulo.articulo)"><b>Leer más</b></small>
                                        <small class="text-success" style="cursor: pointer;" *ngIf="articulo.descripcion && articulo.descripcion.length > 450 && validatShow(articulo.articulo)" (click)="hideText(articulo.articulo)"><b>Ocultar texto completo</b></small>
                                    </p> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                Detalle de Hallazgo
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12" style="margin-bottom: 20px;">
                        <div class="row">
                            <div class="col-md-1">
                                <img [src]="tarea && tarea.evaluationFinding ? tarea.evaluationFinding.hallazgoImg : ''" (error)="imgError($event)" alt="user img"
                                        class="users-avatar-shadow avatar mr-3" height="64" width="64">
                            </div>
                            
                            <div class="col-md-8">

                                <h5 class="card-title mb-0">{{tarea.evaluationFinding ? tarea.evaluationFinding.nombre : '' }}
                                </h5>  
                                <div class="col-xxl-12">
                                        <div class="row g-0">
                                            <div class="col-md-12">
                                                    <p class="mb-2" [style]="tarea.evaluationFinding && tarea.evaluationFinding.descripcion.length > 450 ? 'min-height: 60px;' : 'min-height: 80px;'">{{ tarea.evaluationFinding && tarea.evaluationFinding.descripcion?.length > 450 ? formatTask(tarea.evaluationFinding?.descripcion, tarea.evaluationFinding?.id) : tarea.evaluationFinding?.descripcion }}</p>
                                                    
                                                    <p>
                                                        <small class="text-success" style="cursor: pointer;" *ngIf="tarea.evaluationFinding && tarea.evaluationFinding.descripcion.length > 450 && !validatShow2(tarea.evaluationFinding.id)" (click)="showText2(tarea.evaluationFinding.id)"><b>Leer más</b></small>
                                                        <small class="text-success" style="cursor: pointer;" *ngIf="tarea.evaluationFinding && tarea.evaluationFinding.descripcion.length > 450 && validatShow2(tarea.evaluationFinding.id)" (click)="hideText2(tarea.evaluationFinding.id)"><b>Ocultar texto completo</b></small>
                                                    </p> 
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                
                <span class="float-end">
                    Fecha Inicio: {{tarea.fecha_inicio | date: 'd/M/yy'}} - Fecha Termino: {{ tarea.fecha_termino | date: 'd/M/yy'}}
                </span>

                    Detalle de Tarea
            </div>
            <div class="card-body">
                <h5 class="card-title mb-0">Tarea
                </h5>  
                <div class="col-xxl-12">
                        <div class="row g-0">
                            <div class="col-md-12">
                                    <p class="mb-2" [style]="tarea.descripcion && tarea.descripcion.length > 450 ? 'min-height: 60px;' : 'min-height: 80px;'">{{ tarea.descripcion ? tarea.descripcion.length > 450 ? formatTask2(tarea.descripcion, tarea.id) : tarea.descripcion.replace('<', '').replace("/", '').replace('p>', '').replace('<', '').replace('p>', '') : '' }}</p>
                                    
                                    <p>
                                        <small class="text-success" style="cursor: pointer;" *ngIf="tarea.descripcion && tarea.descripcion.length > 450 && !validatShow3(tarea.id)" (click)="showText3(tarea.id)"><b>Leer más</b></small>
                                        <small class="text-success" style="cursor: pointer;" *ngIf="tarea.descripcion && tarea.descripcion.length > 450 && validatShow3(tarea.id)" (click)="hideText3(tarea.id)"><b>Ocultar texto completo</b></small>
                                    </p> 
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
</div>

<form [formGroup]="taskForm" class="tablelist-form">
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">

                <div class="col-xxl-12">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <div class="card-body">
                                    Adjuntar imagen o archivo de respaldo
                                    <dropzone class="dropzone_sec" [message]="'Haz Click o arrastra la imagen a cargar'" (success)="onFileSelectedEvaluation($event)"></dropzone>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    Comentario
                                    <ckeditor [editor]="Editor" data="" formControlName="comentario"></ckeditor>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>

<!--<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">

                <div class="col-xxl-12">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-12">
                                <div class="card-body">
                                    Comentario
                                    <ckeditor [editor]="Editor" data=""></ckeditor>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div class="row">
    <div class="col-12">
        
        <!--<div class="col-md-3" style="float:left;">
            <div class="btn-group dropdown" ngbDropdown>
                <button type="button" class="btn btn-primary" style="min-width:150px;" *ngIf="!status">Sin estado</button>
                <button type="button" class="btn btn-success" style="min-width:150px;" *ngIf="status == 'COMPLETADA'">Completada</button>
                <button type="button" class="btn btn-warning" style="min-width:150px;" *ngIf="status == 'INICIADA'">Iniciada</button>
                <button type="button" class="btn btn-danger" style="min-width:150px;" *ngIf="status == 'CREADA'">Creada</button>
                <button type="button" class="btn btn-{{!status ? 'primary' : (status == 'COMPLETADA' ? 'success' : (status == 'INICIADA' ? 'warning' : 'danger')) }} dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  ngbDropdownToggle></button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    
                <div class="dropdown-header noti-title">
                    <h5 class="font-size-13 text-muted text-truncate mn-0">Estado de la Tarea!</h5>
                </div>
                <a class="dropdown-item" href="javascript:void(0);" (click)="changeStatus('COMPLETADA')">Completada</a>
                <a class="dropdown-item" href="javascript:void(0);" (click)="changeStatus('INICIADA')">Iniciada</a>
                <a class="dropdown-item" href="javascript:void(0);" (click)="changeStatus('CREADA')">Creada</a>
                </div>
            </div>
            </div>-->
            
            <div class="col-md-12" style="float:left;">
                <button class="btn btn-primary edit-item-btn d-sm-flex align-items-center justify-content-end" style="float:right;"  (click)="editTask()"
                >Guardar</button>
            </div>
        </div>
</div>

<app-toastsp aria-live="polite" aria-atomic="true"></app-toastsp>