<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Crear Plan de Trabajo" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

  <!--preloader-->
  <div id="preloader" style="opacity: 0px !important;background-color: #000 !important;visibility: hidden;">
    <div id="status">
      <div class="spinner-border text-primary avatar-sm" role="status">
          <span class="visually-hidden">Cargando...</span>
      </div>
    </div>
  </div>
  
<!-- Vertical alignment (align-items-center) -->
<div class="row justify-content-center" style="padding-top: 10%;">
    <div class="col-lg-8">
        <h4 style="text-align: center;">Define el nombre del plan de Trabajo</h4>
        <div class="card">
            <div class="card-body">
                  <div class="mb-3">
                    <form [formGroup]="createForm">
                    <label class="form-label" for="project-title-input">Nombre del Plan de trabajo</label>
                    <input type="text" class="form-control" id="project-title-input"
                        placeholder="Escribe nombre del Plan de Trabajo" formControlName="nombre">
                        
                    <label class="form-label" style="margin-top: 20px !important;" for="project-title-input">Descripción del Plan de trabajo</label>
                    <!--<input type="text" class="form-control" id="project-title-input"
                        placeholder="Escribe descripción del Plan de trabajo" formControlName="descripcion">-->
                        <textarea rows="3" class="form-control" id="project-title-input"
                        placeholder="Escribe descripción del Plan de trabajo" formControlName="descripcion"></textarea>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12 justify-content-end" style="display: block;padding: 0px;position: fixed;bottom: 60px;">
    <div class="row justify-content-end">
        <div class="col-4">
            <button mat-raised-button class="btn btn-success w-lg waves-effect waves-light" style="margin-bottom: 10px;" (click)="savePlan()">Guardar</button>
        </div>
    </div>
</div>

<app-toastspl aria-live="polite" aria-atomic="true"></app-toastspl>