<!--preloader-->
<div id="preloader" style="opacity: 0px !important;background-color: #000 !important;visibility: hidden;">
    <div id="status">
      <div class="spinner-border text-primary avatar-sm" role="status">
          <span class="visually-hidden">Cargando...</span>
      </div>
    </div>
  </div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <span class="float-end text-secondary">
                    <span class="hamburger-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                    </span>
                </span>
                <h6 class="card-title">
                    <button class="btn btn-sm px-2 fs-22"
                            [style.cursor]="'pointer'" (click)="backClicked()">
                            <i class="ri-arrow-left-s-line"></i>
                    </button>
                    {{detail.nombre}}<!--{{detail.identificador ? detail.identificador.tipoNorma+' '+detail.identificador.numero : ''}} {{detail.tituloNorma ? detail.tituloNorma : ''}}-->
                </h6>
                
                <!--<ng-container *ngFor="let org of detail.organismos">-->
                    <p class="card-subtitle text-muted mb-0">{{detail.descripcion}}<!--{{org}}--></p>
                <!--</ng-container>-->
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">

                <div class="col-xxl-12">
                    <div class="card border card-border-primary" style="border-radius: 24px !important;">
                        <div class="row g-0">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <h5 class="card-title mb-0">{{articulo.articulo}}</h5>  
                                    <p class="card-text mb-2" [style]="articulo.descripcion && articulo.descripcion.length > 450 ? 'min-height: 60px;' : 'min-height: 80px;'">{{ articulo.descripcion && articulo.descripcion.length > 450 ? formatArticle(articulo.descripcion, articulo.articulo) : articulo.descripcion }}</p>
                                    
                                    <p class="card-text">
                                        <small class="text-danger" style="cursor: pointer;" *ngIf="articulo.descripcion && articulo.descripcion.length > 450 && !validatShow(articulo.articulo)" (click)="showText(articulo.articulo)"><b>Ver texto completo</b></small>
                                        <small class="text-danger" style="cursor: pointer;" *ngIf="articulo.descripcion && articulo.descripcion.length > 450 && validatShow(articulo.articulo)" (click)="hideText(articulo.articulo)"><b>Ocultar texto completo</b></small>
                                    </p> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="articulo && articulo.evaluations && articulo.evaluations.estado && articulo.evaluations.estado == 'CUMPLE'">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <span class="float-end text-secondary">
                    <span
                                            class="badge badge-soft-{{articulo && articulo.evaluations &&articulo.evaluations.estado && articulo.evaluations.estado == 'CUMPLE' ? 'success' : (articulo && articulo.evaluations && articulo.evaluations.estado && articulo.evaluations.estado == 'CUMPLE PARCIALMENTE' ? 'warning' : 'danger')}} text-uppercase">{{articulo && articulo.evaluations && articulo.evaluations.estado ? (articulo.evaluations.estado == 'CUMPLE' ? 'Cumple' : (articulo && articulo.evaluations && articulo.evaluations.estado == 'CUMPLE PARCIALMENTE' ? 'Cumple Parcialmente' : 'No Cumple')) : 'Sin evaluar'}}</span>
                </span>

                <h4 class="card-title mb-0">Evaluación</h4>
            </div>

            <div class="card-body">
                    <div id="customerList">
                            <div class="row">
                                <div class="col-lg-12" style="margin-bottom: 20px;">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <img [src]="articulo.evaluations.evaluacionImg
                                            " (error)="imgError($event)" alt="Hallazgo respaldo"
                                            class="users-avatar-shadow avatar mr-3" height="64" width="64"><!--rounded-circle-->
                                        </div>
                                        <div class="col-md-7">
                                            <h5>Comentario:</h5> 
                                            <p>{{articulo.evaluations.comentario}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>  
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="articulo && articulo.evaluations && articulo.evaluations.estado && articulo.evaluations.estado != 'CUMPLE'">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <span class="float-end text-secondary">
                    <span
                                            class="badge badge-soft-{{articulo && articulo.evaluations && articulo.evaluations.estado && articulo.evaluations.estado == 'CUMPLE' ? 'success' : (articulo && articulo.evaluations && articulo.evaluations.estado && articulo.evaluations.estado == 'CUMPLE PARCIALMENTE' ? 'warning' : 'danger')}} text-uppercase">{{articulo && articulo.evaluations && articulo.evaluations.estado ? (articulo.evaluations.estado == 'CUMPLE' ? 'Cumple' : (articulo && articulo.evaluations && articulo.evaluations.estado == 'CUMPLE PARCIALMENTE' ? 'Cumple Parcialmente' : 'No Cumple')) : 'Sin evaluar'}}</span>
                </span>

                <h4 class="card-title mb-0">Hallazgos</h4>
            </div>

            <div class="card-body">
                <div id="customerList">
                    <ng-container *ngFor="let data of HallazgosDatas">
                        <div class="row" id="lj_{{data.id}}">
                            <div class="col-lg-12" style="margin-bottom: 20px;">
                                <div class="row">
                                    <div class="col-md-1">
                                        <img [src]="data.findings.hallazgoImg
                                        " (error)="imgError($event)" alt="Hallazgo respaldo"
                                        class="users-avatar-shadow avatar mr-3" height="64" width="64"><!--rounded-circle-->
                                    </div>
                                    <div class="col-md-2">
                                        <h5>Identificador:</h5>
                                        <p>{{data.findings ? data.findings.id.toString().padStart(6,"H-000") : '' }}</p>
                                    </div>
                                    <div class="col-md-2">
                                        <h5>Fecha Creación:</h5>
                                        <p>{{data.findings.createdAt | date: 'd/M/yy' }}</p>
                                    </div>
                                    
                                    <div class="col-md-2">
                                        <h5>Nombre:</h5>
                                        <p>{{data.findings.nombre}}</p>
                                    </div>
                                    
                                    <div class="col-md-5">
                                        <h5>Descripción:</h5> 
                                        <p>{{data.findings.descripcion}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </ng-container>
                    <!--<div class="table-responsive table-card mt-3 mb-1">
                        <table class="table">
                            <thead>
                                <tr class="bg-light text-muted">
                                    <th class="sort" style="width: 150px;">Respaldo</th>
                                    <th class="sort" data-sort="nombre" style="width: 300px;">Hallazgo</th>
                                    <th class="sort" data-sort="descripcion">Descripción</th>
                                    <th class="sort" style="width: 100px;">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of HallazgosDatas" id="lj_{{data.id}}">
                                    <td><img [src]="data.findings.img" (error)="imgError($event)" alt="user img"
                                        class="users-avatar-shadow avatar mr-3 rounded-circle" height="64" width="64">
                                    </td>
                                    <td><ngb-highlight [result]="data.findings.nombre"
                                            [term]="service.searchTerm"></ngb-highlight>
                                    </td>
                                    <td><ngb-highlight [result]="data.findings.descripcion"
                                                    [term]="service.searchTerm">
                                            </ngb-highlight>
                                    </td>
                                    
                                    <td>
                                        <div class="d-flex gap-2">
                                            <div class="hstack gap-3 fs-15">
                                                <a href="javascript:void(0);" class="link-primary" 
                                                title="Tareas"
                                                (click)="selectTask(data.findings.id,data.findings.nombre)"><i class="ri-todo-line"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row justify-content-md-between align-items-md-center">
                        <div class="col col-sm-6">
                            <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                                Mostrando
                                {{service.startIndex}} de
                                {{service.endIndex}} de {{service.totalRecords}}
                                registros
                            </div>
                        </div>
                        <div class="col col-sm-6">
                            <div class="text-sm-right float-sm-end listjs-pagination">
                                <ngb-pagination [collectionSize]="(total | async)!" [(page)]="service.page"
                                    [pageSize]="service.pageSize">
                                </ngb-pagination>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div><!-- end card -->
        </div>
        <!-- end col -->
    </div>
</div>

<div class="row" *ngIf="articulo && articulo.evaluations && articulo.evaluations.estado && articulo.evaluations.estado != 'CUMPLE'"><!-- *ngIf="idHallazgo"-->
    <div class="col-lg-12">
        <div class="card">
            <!--<div class="card-header">
                <h4 class="card-title mb-0">Tareas - {{nombreHallazgo}}</h4>
            </div>-->

            <div class="card-body">
                <div id="customerList">
                    <div class="row g-4 mb-3">
                        <div class="col-sm-auto">
                            <div class="d-flex gap-1">
                                <h4 class="card-title mb-0">Tareas</h4><!-- {{nombreHallazgo}}-->
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="d-flex justify-content-sm-end">
                                <div class="search-box ms-2">
                                    <input type="text" class="form-control search" placeholder="Buscar..."
                                        [(ngModel)]="service.searchTerm">
                                    <i class="ri-search-line search-icon"></i>
                                </div>
                                
                                <button type="button" style="margin-left:20px;" class="btn btn-success add-btn" data-bs-toggle="modal"
                                    id="create-btn" data-bs-target="#showModal" (click)="openModal(content)"><i
                                        class="ri-add-line align-bottom me-1"></i> Agregar</button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive table-card mt-3 mb-1">
                        <table class="table">
                            <thead>
                                <tr class="bg-light text-muted">
                                    <th class="sort" data-sort="id" style="width: 60px;">Id</th>
                                    <th class="sort" data-sort="nombre" style="width: 200px;">Titulo</th>
                                    <th class="sort" data-sort="descripcion">Descripcion</th>
                                    <th class="sort" data-sort="responsable" style="width: 300px;">Responsable</th>
                                    <th class="sort" data-sort="fecha_inicio" style="width: 150px;">Fecha Creación</th>
                                    <th class="sort" data-sort="fecha_termino" style="width: 150px;">Fecha Vencimiento</th>
                                    <th class="sort" data-sort="hallazgo" style="width: 300px;">Hallazgo</th>
                                    <th class="sort" style="width: 100px;">Estado</th>
                                    <th class="sort" style="width: 100px;">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of TaskDatas" id="lj_{{data.id}}">
                                    <td><ngb-highlight [result]="data.id"
                                            [term]="service.searchTerm"></ngb-highlight></td>
                                    <td><ngb-highlight [result]="data.nombre"
                                            [term]="service.searchTerm"></ngb-highlight></td>
                                    <td><ngb-highlight [result]="data.descripcion.replace('<p>', '').replace('</p>', '')"
                                            [term]="service.searchTerm"></ngb-highlight></td>
                                    <td><ngb-highlight [result]="data.responsable.nombre"
                                        [term]="service.searchTerm"></ngb-highlight></td>
                                    <td>{{ data.fecha_inicio | date: 'd/M/yy' }}
                                    </td>
                                    <td>{{ data.fecha_termino | date: 'd/M/yy' }}</td>
                                    <td><ngb-highlight [result]="data.evaluationFinding.nombre"
                                        [term]="service.searchTerm"></ngb-highlight></td>
                                    <td class="status"><span
                                            class="badge badge-soft-{{data.estado && data.estado == 'COMPLETADA' ? 'success' : (data.estado && data.estado == 'INICIADA' ? 'warning' : 'danger')}} text-uppercase">{{data.estado ? (data.estado == 'COMPLETADA' ? 'Completada' : (data.estado == 'INICIADA' ? 'Iniciada' : 'Creada')) : 'Creada'}}</span>
                                    </td>
                                    <td>
                                        <div class="d-flex gap-2">
                                            <div class="hstack gap-3 fs-15">
                                                <!--<a href="javascript:void(0);" class="link-primary"
                                                title="Ver" 
                                                data-bs-toggle="modal" data-bs-target="#showModal"><i class="ri-eye-line"></i></a>-->

                                                <a href="javascript:void(0);" class="link-primary"
                                                title="Dar Cumplimiento" (click)="completarClicked(data.id)"><i class="ri-shield-user-fill"></i></a>
                                                
                                                <a href="javascript:void(0);" class="link-danger" 
                                                title="Eliminar"
                                                data-bs-toggle="modal" data-bs-target="#deleteRecordModal"
                                                (click)="confirm(deleteModel,data.id)"><i class="ri-delete-bin-5-line"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row justify-content-md-between align-items-md-center">
                        <div class="col col-sm-6">
                            <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                                Mostrando página 1 de
                                {{pageTotal((TaskDatas ? TaskDatas.length : 0))}} de {{TaskDatas ? TaskDatas.length : 0}}
                                registros
                            </div>
                        </div>
                        <!-- Pagination -->
                        <div class="col col-sm-6">
                            <div class="text-sm-right float-sm-end listjs-pagination">
                                <ngb-pagination [collectionSize]="TaskDatas ? TaskDatas.length : 0" [(page)]="service.page"
                                    [pageSize]="service.pageSize">
                                </ngb-pagination>
                            </div>
                        </div>
                        <!-- End Pagination -->
                    </div>
                </div>
            </div><!-- end card -->
        </div>
        <!-- end col -->
    </div>
</div>

<!-- Add ListJs Data -->
<ng-template #content role="document" let-modal>
    <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel">Tarea</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar" id="close-modal"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form (ngSubmit)="saveTask()" [formGroup]="taskForm" class="tablelist-form" autocomplete="off">
        <div class="modal-body">

            <input type="hidden" name="id" value="" formControlName="ids" />
            <div class="row">
            <div class="col-12">    
            <div class="mb-3" id="modal-id" style="display: none;">
                <label for="id-field" class="form-label">ID</label>
                <input type="text" id="id-field" class="form-control" placeholder="ID" readonly />
            </div>
            </div> 
            <div class="col-12">    
            <div class="mb-3">
                <label for="nombre-field" class="form-label">Titulo</label>
                <input type="text" id="nombre-field" class="form-control" placeholder="Ingresar Titulo" required
                    formControlName="nombre" [ngClass]="{ 'is-invalid': submitted && form['nombre'].errors }" />
                <div class="invalid-feedback">Por favor ingresar titulo.</div>
            </div>
            </div>
            
            <div class="col-6">
            <div class="mb-3">
                <label for="inicio-field" class="form-label">Fecha Inicio</label>
                    <div class="form-icon right">
                        <input class="form-control form-control-icon flatpickr-input" type="text" placeholder="Ingresar Fecha Inicio" required
                        formControlName="fecha_inicio" [ngClass]="{ 'is-invalid': submitted && form['fecha_inicio'].errors }" mwlFlatpickr [altInput]="true" [convertModelValue]="true">
                        <i class="ri-calendar-todo-fill"></i>
                    </div>
                <div class="invalid-feedback">Por favor ingresar Fecha inicio.</div>
            </div>
            </div>

            <div class="col-6">
            <div class="mb-3">
                <label for="termino-field" class="form-label">Fecha Vencimiento</label>
                    <div class="form-icon right">
                        <input class="form-control form-control-icon flatpickr-input" type="text" placeholder="Ingresar Fecha Vencimiento" required
                        formControlName="fecha_termino" [ngClass]="{ 'is-invalid': submitted && form['fecha_termino'].errors }" mwlFlatpickr [altInput]="true" [convertModelValue]="true">
                        <i class="ri-calendar-todo-fill"></i>
                    </div>
                <div class="invalid-feedback">Por favor ingresar Fecha Vencimiento.</div>
            </div>
            </div>

            <div class="col-6">    
            <div class="mb-3">
                <label for="user-field" class="form-label">Responsable</label>
                <select class="form-select mb-3" aria-label="Responsable" formControlName="responsable" placeholder="Seleccione Responsable">
                    <option selected>Seleccione Responsable </option>
                    <option *ngFor="let r of responsables;" value="{{r.id}}">{{r.nombre}} {{ r.apellido ? r.apellido : ''}}</option>
                </select>
                <!--<ngx-simplebar style="height: 80px;">
                    <ul class="list-unstyled vstack gap-2 mb-0">
                        <li *ngFor="let responsable of responsables">
                            <div class="form-check d-flex align-items-center">
                                <input class="form-check-input me-3" type="checkbox" name="checkAll" value="{{responsable.id}}"
                                    id="{{responsable.id}}" (change)="onCheckboxChange($event)">
                                <label class="form-check-label d-flex align-items-center" for="{{responsable.id}}">
                                    <span class="flex-grow-1 ms-2">
                                        {{responsable.nombre}} {{responsable.apellido ? responsable.apellido : ''}}
                                    </span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </ngx-simplebar>-->
            <div class="invalid-feedback">Por favor ingresar responsable.</div>
            </div>
            </div>

            <div class="col-6">    
            <div class="mb-3">
                <label for="hallazgo-field" class="form-label">Hallazgo</label>
                <select class="form-select mb-3" aria-label="Hallazgo" formControlName="evaluationFindingId" placeholder="Seleccione Hallazgo">
                    <option selected>Seleccione Hallazgo </option>
                    <option *ngFor="let h of hallazgos;" value="{{h.findings.id}}">{{'('+h.findings.id.toString().padStart(6,"H-000")+')'+h.findings.nombre}}</option>
                </select>
                <!--<ngx-simplebar style="height: 80px;">
                    <ul class="list-unstyled vstack gap-2 mb-0">
                        <li *ngFor="let h of hallazgos">
                            <div class="form-check d-flex align-items-center">
                                <input class="form-check-input me-3" type="checkbox" name="checkAll2" value="{{h.findings.id}}"
                                    id="{{h.findings.id}}" (change)="onCheckboxChange2($event)">
                                <label class="form-check-label d-flex align-items-center" for="{{h.findings.id}}">
                                    <span class="flex-grow-1 ms-2">
                                        {{h.findings.nombre}}
                                    </span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </ngx-simplebar>-->
            <div class="invalid-feedback">Por favor ingresar hallazgo.</div>
            </div>
            </div> 

            <div class="col-12">    
            <div class="mb-3">
                <label for="descripcion-field" class="form-label">Descripción</label>
                <ckeditor [editor]="Editor" data="" formControlName="descripcion"></ckeditor>
                <!--<input type="text" id="descripcion-field" class="form-control" placeholder="Ingresar Descripción" required
                    formControlName="descripcion" [ngClass]="{ 'is-invalid': submitted && form['descripcion'].errors }" />-->
                <div class="invalid-feedback">Por favor ingresar descripción.</div>
            </div>
            </div>

            <div class="col-12">
                <div class="mb-3">
                    <label for="criterio-field" class="form-label">Selecciona si para el cumplimiento de esta tarea es necesario subir un archivo o imagen</label>
                    
                    <div class="row">
                        <div class="col-3">    
                            <div class="mb-3">
                                <div class="form-check form-switch form-check-right form-switch-success">
                                    <input class="form-check-input" type="checkbox" formControlName="is_image" role="switch" id="flexSwitchCheckRightDisabled" checked>
                                    <label class="form-check-label" for="flexSwitchCheckRightDisabled">Subir Imagen</label>
                            </div>
                            </div>
                        </div>
                        
                        <div class="col-3">    
                            <div class="mb-3">
                                <div class="form-check form-switch form-check-right form-switch-success">
                                    <input class="form-check-input" type="checkbox" formControlName="is_file" role="switch" id="flexSwitchCheckRightDisabled" checked>
                                    <label class="form-check-label" for="flexSwitchCheckRightDisabled">Subir Archivo</label>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                </div>
            </div>
            </div>

        </div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <!--<button type="button" class="btn btn-light" data-bs-dismiss="modal"
                    (click)="modal.close('Close click')">Cerrar</button>-->
                <button type="submit" class="btn btn-success" id="add-btn">Agregar</button>
            </div>
        </div>
    </form>
</ng-template>

<!-- removeItemModal -->
<ng-template #deleteModel let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar" id="btn-close"
                (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="mt-2 text-center">
                <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                    colors="primary:#405189,secondary:#f06548" style="width:90px;height:90px"></lord-icon>
                <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                    <h4>Está a punto de eliminar este registro?</h4>
                    <p class="text-muted mx-4 mb-0">Eliminar su registro eliminará toda su información de nuestro
sistema.</p>
                </div>
            </div>
            <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                <button class="btn btn-link link-success fw-medium text-decoration-none" data-bs-dismiss="modal"
                    (click)="modal.close('Close click')"><i class="ri-close-line me-1 align-middle"></i> Cerrar</button>
                <button type="button" class="btn w-sm btn-danger " id="delete-product" (click)="deleteData(deleteId)"
                    (click)="modal.close('Close click')">Si, Remover!</button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</ng-template>


<app-toastsp aria-live="polite" aria-atomic="true"></app-toastsp>